[2018-02-13 15:05] marktani opened #321 "Example with different approaches for error handling"
There [has been some discussion](https://github.com/graphcool/prisma/issues/1738) about how to throw errors from resolvers properly.

An example that show cases different approaches that are considered best practice would be super helpful!

If anyone's interested in contributing such an example, feel free to ping me [in Slack](http://slack.graph.cool) (my handle there is @nilan), happy to collabor

[2018-03-17 14:30] marktani opened #319 "Example showing how to sync data to Algolia"
That can either happen using subscription functions, or logic directly in the resolver code.

[2018-05-12 13:27] jferrettiboke opened #322 "Add example for GraphQL-based microservices"
I would love to see an example implementing GraphQL-based microservices with different databases and of course using an API gateway as the main entry point for client apps.

I suggest to add it into the official documentation or host it on "examples" folder in this repository.

[2018-09-08 14:55] abhiaiyer91 opened #3 "Remaining Examples"
- [x] flow-graphql
- [x] flow-script
- [x]  go-graphql
- [ ] go-rest
- [ ] go-raw-db-access [ON HOLD]
- [x] node-cli-app
- [x] node-graphql
- [x] node-graphql-auth
- [x] node-graphql-auth-advanced (should include permissions-with-shield)
- [x] node-graphql-subscriptions
- [x] node-graphql-schema-delegation
- [x] node-script
- [x] node-rest-express
- [ ] node-raw-db-access [ON HOLD]
- [x]  typescri

[2018-09-10 22:41] brikou opened #8 "ctx and Prisma instance question"
Hi great repo, 1.17 looks fantastic!

I have a real question: why do you attach prisma to context instead of doing a regular import of the instance?

[2018-09-11 16:40] brikou opened #9 "Generated typeDefs misses the /* GraphQL */ comment"
Adding `/* GraphQL */` comment allows syntax highlighting:

**Before**

![image](https://user-images.githubusercontent.com/383212/45374310-fa8b9e80-b5f1-11e8-9e3b-61599d245432.png)

**After**

![image](https://user-images.githubusercontent.com/383212/45374314-feb7bc00-b5f1-11e8-8758-328d92752b78.png)

WDYT?

[2018-09-11 16:42] brikou commented on #9
BTW this file exports typeDefs, do why not call it typeDefs.ts instead of graphql.ts? It would make it more predictable IMHO.

[2018-09-11 18:19] schickling opened #10 "Replace datamodel"
The current examples are based on a weird datamodel which looks like the following

[code]

I suggest to base it on the following data model instead:

## Minimal

[code]

## Basic

[code]

This also means the resulting application should be adjusted to match the new datamodel.

[2018-09-11 18:44] timsuchanek commented on #8
@brikou the reason is, that when you want to use the Dataloader with full Cache later, you don't need to change your code. So this basically means, that on each request, a new Client instance is created. It's not used right now, but will later help to enable caching on a request basis.

Does this answer your question?

[2018-09-11 19:57] abhiaiyer91 commented on #8
The intention of this to establish patterns we think will help for working with prisma. By attaching the Prisma to context we establish a pattern for your code that can take advantage of caching once we enable that feature. That way when we release it people can take advantage of it for free.

By all means though import Prisma in your own files if it makes sense for you

[2018-09-11 20:03] brikou commented on #10
IMO Post.content or Post.body is better than Post.text, because text may be confusing as too generic and remind a datatype.

[2018-09-12 07:11] brikou commented on #10
For me the **Advanced** datamodel is too simple, we cannot demonstrate real world usage and so real world bug. We should add another model fe. **Comment** related to **Post**.

This way we could demonstrate how to **chain calls** and when to use **fragments**. One of the keypoint of this new release (1.17) is about chaining methods, so we need another model.
Another keypoint is the generated TS ty

[2018-09-12 08:19] schickling commented on #10
Great point @brikou. I've renamed my datamodel suggestions from "Basic" -> "Minimal" and "Advanced" -> "Basic".

For more real-world (aka advanced) examples, please check out the "Reference Implementation" section in the readme: https://github.com/prisma/prisma-examples#reference-implementations

[2018-09-12 08:52] brikou commented on #8
Thanks @abhiaiyer91, can't wait to see the cache feature coming

[2018-09-12 09:13] timsuchanek commented on #9
@brikou thanks for that point! We're thinking about renaming it to `schema.ts` - what do you think about that?

[2018-09-12 13:58] #8 closed

[2018-09-12 14:18] schickling opened #14 "GraphQL examples: Add computed values to differentiate domain and database models"
In most cases your domain model and database model is not a 1:1 mapping but includes some computed/derived values which are implemented using "custom resolvers". To make this distinction clearer, we should add a few computed values to the domain model for the GraphQL examples.

[2018-09-12 15:15] brikou commented on #9
@timsuchanek for me schema and typeDefs is not the same, a schema should be a GraphQLSchema instance and this is not, it will be after makeSchemaExecutable (if I remember well), I think typeDefs.ts is still relevant IMO.

[2018-09-12 21:31] brikou opened #16 "Remove "esnext.asynciterable" from compilerOptions.lib[]"
Remove "esnext.asynciterable" from `compilerOptions.lib[]` in tsconfig.json and prepend `src/generated/index.ts` by:

[code]

[2018-09-12 22:01] brikou opened #17 "Where is prisma-generate-schema repository"
I guess it is not open source yet, but I really wish to check it :pray:

[2018-09-14 10:21] schickling opened #18 "Update Go examples once "nil type-safety" is implemented"
Pending until https://github.com/prisma/prisma/issues/3066 is completed.

[2018-09-14 10:25] schickling opened #19 "Missing examples"
The following examples should be added for each language:

- [ ] GraphQL server with subscriptions
- [ ] Raw DB access

[2018-09-14 12:17] divyenduz commented on #17
It is open source but in beta branch at the moment - https://github.com/prisma/prisma/tree/beta/cli/packages/prisma-generate-schema

[2018-09-14 12:17] #17 closed

[2018-09-14 14:05] schickling commented on #10
## Update

I've started updating the examples to the following datamodel:

[code]

For the GraphQL server examples I suggest the following application schema:

[code]

For the `xxx-graphql-auth` examples, I suggest to add a `password: String!` field to the `User` in the datamodel.

[2018-09-14 14:13] abhiaiyer91 commented on #19
Would like to close this in favor of https://github.com/prisma/prisma-examples/issues/3

[2018-09-14 14:14] abhiaiyer91 commented on #9
We have updated the name of the generated file:`prisma-schema` and includes the GraphQL comment for typeDefs.

[2018-09-14 14:14] #9 closed

[2018-09-14 14:16] abhiaiyer91 commented on #10
Great we'll run with this

[2018-09-15 02:48] pierpontleather opened #21 "node-graphql-auth 'signup' mutation"
Signup mutation doesn't work with example in the readme. User will receive error in the Playground because 'name' is a required field.

Two possible solutions:

1. Change the schema.graphql file's 'User' definition to be:
[code]

-- OR --

2. Change the README.md example mutation of 'signup' to include a name argument.
[code]

[2018-09-15 03:26] alaarihan opened #22 "node-graphql-schema-delegation example error 'Cannot read property 'query' of undefined'"
I tried to run masters query from node-graphql-schema-delegation example playground but I got this error:
[code]

[2018-09-15 17:18] #19 closed

[2018-09-16 00:10] kennetpostigo commented on #22
I'm also running into this in my project, aside from this, doing delegation of mutations is really tedious because in the `schema.graphql` I have to copy and paste over the `input` types from the `prisma-schema.js` file. Is there a better method for delegating mutations?

[2018-09-16 00:31] abhiaiyer91 opened #23 "Move `src/prisma-client` to `src/generated/prisma-client`"
Need to move generated files into the generated folder.

[2018-09-16 00:31] abhiaiyer91 opened #24 "Add Docker Compose to all examples"

[2018-09-16 00:36] abhiaiyer91 commented on #21
@pierpontleather Thanks for filing! Resolved in https://github.com/prisma/prisma-examples/pull/25

[2018-09-16 00:36] #21 closed

[2018-09-16 00:38] abhiaiyer91 commented on #22
So we removed `$delegate` from the Prisma Client. I'm going to be updating these examples to use the Prisma Binding. For now, I suggest using the binding for cases you want to delegate.

If you're using the `db` in your context for the client, add a `binding` property for the prisma binding!

[2018-09-16 00:38] abhiaiyer91 commented on #16
This issue is better suited for the `prisma` repo as it has the code for `generate`

[2018-09-16 00:38] #16 closed

[2018-09-16 02:07] abhiaiyer91 commented on #22
Both the node delegation and typescript delegation examples have been updated to use prisma binding. Thanks for reporting this @alaarihan !

[2018-09-16 02:07] #22 closed

[2018-09-16 02:33] alaarihan commented on #22
Thank you @abhiaiyer91

[2018-09-16 03:42] #24 closed

[2018-09-16 04:38] #23 closed

[2018-09-16 04:39] abhiaiyer91 commented on #10
All prev data models using the Cat/Master setup is now using this data model

[2018-09-17 08:49] #10 closed

[2018-09-17 15:06] abhiaiyer91 opened #37 "Add CI per example"
- [ ] Add CI tests for types

- [ ] Add CI tests for running examples against a real Prisma (say using Prisma+CircleCI)

[2018-09-17 15:06] abhiaiyer91 opened #38 "Generate `index.d.ts` for non ts examples"

[2018-09-17 15:07] abhiaiyer91 opened #39 "Add comments to prisma.yml for each example"

[2018-09-17 15:07] abhiaiyer91 opened #40 "Write Go readmes"

[2018-09-17 15:15] Sach97 opened #41 "Go-graphql example docker-compose file & Scaffolding"
Hi prisma team, is it possible to put the docker-compose file in the go-graphql example instead of the one with prisma deployed endpoint ? Plus I have a lot of errors with the generated code when switching to my own prisma server with the way you scaffolded it as it is not scaffoled like this with gqlgen init.

[2018-09-17 15:28] Sach97 commented on #41
Thank's a lot I appreciate it

[2018-09-17 15:48] abhiaiyer91 commented on #41
https://github.com/prisma/prisma-examples/pull/42 @Sach97

[2018-09-17 17:33] joefru opened #43 "S3 File Handling example"
Would it be possible to restore this example?

https://github.com/prisma/prisma/tree/master/examples/archive/file-handling-s3

[2018-09-17 18:10] #41 closed

[2018-09-18 10:37] Sach97 commented on #41
Thank's @abhiaiyer91 it worked like a charm. I made my own example on [this repo](https://github.com/Sach97/prisma-go-todo) with a readme explaining the dev workflow with go-client. And developer experience with Prisma is great btw, thank's to the team for the great work !

[2018-09-20 13:08] marktani opened #50 "Node GraphQL Example, mutation cannot be executed"
For the `node-graphql` example, the `createDraft` mutation cannot be executed. For example, try to run this mutation:

[code]

you will get the error message:

[code]

The reason is that no author exists yet. However, there is no mutation to create a new author either.
This should be cleaned up.

Current workaround: directly connect to the Prisma endpoint and create a new user:

[code]

Then the f

[2018-09-20 14:15] abhiaiyer91 commented on #50
All examples are seeded with a user alice@prisma.io. We can change the docs to make that clear

[2018-09-20 14:53] abhiaiyer91 opened #54 "use on-failure for restart policy in docker compose files"

[2018-09-21 16:07] abhiaiyer91 opened #55 "Add an example to each readme showing the use"

[2018-09-25 09:52] herkulano commented on #3
It would be nice to have a `many-to-many` example.

Something simple like unread posts of a user. This would be enough to understand the datamodel, the api schema and the resolvers needed.

`datamodel.prisma`:
[code]

[2018-09-26 06:39] podinacristi opened #56 "go-graphql query, mutation issues"
Hey all. After installing successfully the go-graphql example, opening  http://localhost:4000 playground i try to create a new "draft":
`
mutation
{
  createDraft(title:"Test title",content:"Test content",authorEmail:"podinacristi@gmail.com"){
    id
    title
    content
  }
}
`
i got the following error in go:
`interface conversion: interface {} is nil, not map[string]interface {}

goroutine 22

[2018-09-26 07:34] podinacristi commented on #56
Resolved by modifying external packages like :"github.com/prisma/prisma-examples/go-graphql/prisma-client" to local packages:"go-graphql/prisma-client". That way the endpoint is correct and not the endpoind set in github examples repository.

[2018-09-26 07:34] #56 closed

[2018-09-26 09:00] podinacristi commented on #56
I can try to explain it better first :)
resolver.go, generated.go and server.go is importing
"github.com/prisma/prisma-examples/go-graphql/prisma-client", which points to "https://eu1.prisma.sh/demo/go-graphql/dev", that way you cannot set your own endpoint. Making it a local package like "go-graphql/prisma-client" gives you control to setup the endpoint with your own at prisma deploy

[2018-09-27 09:18] schickling commented on #55
Great point. Every readme should also have concrete steps on how to test the example.

[2018-09-27 09:55] Sach97 opened #60 "go-client error with gqlgen-v on"
Hi guys, I'm learning graphql so I borrowed a schema from this [tutorial](https://www.howtographql.com/graphql-js/7-subscriptions/) and I encountered an error after using the command gqlgen -v
[code]
Did I miss something specific to prisma datamodel like relations ? Let me know if you have the same error or not, here is my [repo](https://github.com/Sach97/prisma-go-hackernews) to reproduce the err

[2018-09-27 16:24] brikou opened #64 ""restart: always" makes services start (again) whenever you boot your laptop"
IMO removing the restart policy is what we should do (and so allow services to crash), `restart: on-failure` on the opposite, would just hide any problem by restarting servers (db or prisma) without any notice from the dev.

WDYT?

related PR #44

[2018-09-30 01:47] zwl1619 opened #91 "Could the example `permissions-with-shield` use prisma client instead of prisma-binding in next version?"
The example `permissions-with-shield` is using `prisma-binding`,Could  use `prisma client` instead of `prisma-binding` in next version?

https://github.com/prisma/prisma-examples/tree/master/archive/permissions-with-shield

[2018-09-30 01:53] #38 closed

[2018-09-30 01:57] zwl1619 opened #92 "Add a avatar field to Type User and show how to upload picture to local system"
I want to add a  avatar field to Type User,but I do not know how to upload pictures to local system,could the examples show this feature?

[2018-10-01 09:19] schickling opened #93 "Add `go-rest-gin` example"
Gin is one of Go's most popular web frameworks. We should add an example of how to use Prisma together with the Gin framework. ([See forum thread](https://www.prisma.io/forum/t/can-i-use-gin-web-framework-with-prisma/4550/2).)

[2018-10-01 09:26] schickling opened #94 "Replace `seed.graphql` files with seed scripts (e.g. `node seed.js`)"
We should replace the `seed.graphql` files with more language-idiomatic seed scripts using the generated Prisma client.

[2018-10-01 15:43] valentinbe opened #96 "Example - using Prisma Client's $subscribe"
Hi,
Could you please provide an example on generating REST api client side subscription using  Prisma Client's $subscribe?

I cant figure out a way to properly listen to CRUD events using $subscribe.
[code]

[2018-10-01 16:42] abhiaiyer91 commented on #91
Yes i'll be working on that this week!

[2018-10-01 16:44] abhiaiyer91 commented on #54
https://github.com/prisma/prisma-examples/pull/97

[2018-10-01 16:45] #54 closed

[2018-10-01 16:46] abhiaiyer91 commented on #64
We went with on-failure for now, will reopen this if that decision has changed

[2018-10-01 16:46] #64 closed

[2018-10-03 11:49] schickling opened #105 "Set up Codesandbox for each JS-based example"
## Open questions

- [ ] How to integrate demo server? (vs `docker-compose.yml`)

[2018-10-03 13:04] schickling commented on #94
This currently blocked by this issue: https://github.com/prisma/prisma/issues/3226

[2018-10-04 08:31] schickling opened #108 "Remove "prisma" script alias/shortcut from `scripts` in package.json"
Using `yarn prisma` can be confusing for new developers and often leads to many pitfalls. I suggest to remove the `"prisma"` alias from `scripts` in the `package.json` file. It's no longer needed once [this feature](https://github.com/prisma/prisma/issues/3250) lands.

[2018-10-04 13:44] Sach97 commented on #3
+1 to @herkulano proposition that way we can see things like nested object writes in action (I'm struggling with createMany in golang-client as it is not yet documented)

[2018-10-04 18:19] gedw99 opened #111 "Flutter client"
Would you consider supporting Dart CLient too ?

Dart Lib for graphql
https://github.com/zino-app/graphql-flutter

Example
https://github.com/zino-app/graphql-flutter/blob/master/example/lib/main.dart

I use this with a graphql Golang server based on GQLgen now and its nice and clean flow.

[2018-10-05 13:08] amesas commented on #3
There was an example of S3 Integration.
I think it's a good idea to keep it.

[2018-10-05 15:41] schickling commented on #111
Thanks a lot for this great suggestion. Can you open a feature request for a Dart client in the `prisma` repo similar to [this one](https://github.com/prisma/prisma/issues/3218)?

[2018-10-06 18:02] divyenduz opened #123 "Make examples more reliable"
- [ ] Add CI tests for types (https://github.com/prisma/prisma-examples/issues/37)

- [ ] Add CI tests for running examples against a real Prisma (say using Prisma+CircleCI) (https://github.com/prisma/prisma-examples/issues/37)

- [ ] Make the start command fail, if the type check fails
-- One known anti-instance for this is flow (there may be more), where `yarn start` works but `yarn flow` fails

[2018-10-06 22:26] gvonhagel opened #124 "Cannot query field 'createdAt' on type 'User'."
Hello,

I cloned this repo a little over an hour ago to play around with authentication. Specifically, I cloned the typescript-graphql-auth repo. Running it out-of-the-box with the commands specified in the README works fine, but when I try to run the signup mutation from the README

`mutation {
  signup(name: "Alice", email: "alice@prisma.io", password: "graphql") {
    token
  }
}`

I get the fo

[2018-10-08 07:28] schickling opened #125 "*-graphql-auth examples should be based on *-graphql example and extend their schema"
The *-graphql-auth examples (e.g. `typescript-graphql-auth`) should be based on the *-graphql examples (e.g. `typescript-graphql`) and *extend* their GraphQL schema/datamodel.

[2018-10-08 08:32] divyenduz commented on #123
@chakrihacker : I kickstarted circle for this project in this PR: https://github.com/prisma/prisma-examples/pull/122

[2018-10-09 09:01] schickling opened #130 "Update READMEs while Prisma client is in preview"
- [ ] Remove `yarn prisma` script usage for JS-based examples (more context [here](https://github.com/prisma/prisma-examples/issues/108))
- [ ] Add instructions how to install correct Prisma CLI (beta if needed)

[2018-10-09 16:42] nikolasburk commented on #130
## Node

- [ ] node-cli-app
- [ ] node-graphql
- [ ] node-graphql-auth
- [ ] node-graphql-schema-delegation
- [ ] node-graphql-subscriptions
- [ ] node-rest-express
- [ ] node-script

## TypeScript

- [ ] typescript-cli-app
- [ ] typescript-graphql
- [ ] typescript-graphql-auth
- [ ] typescript-graphql-schema-delegation
- [ ] typescript-script

## Flow

- [ ] flow-graphql
- [ ] flow-script

[2018-10-10 07:52] schickling opened #138 "List of examples in README.md is outdated"

[2018-10-10 14:20] #108 closed

[2018-10-10 14:28] abhiaiyer91 commented on #130
we merged https://github.com/prisma/prisma-examples/pull/141 from @marktani

[2018-10-10 14:29] abhiaiyer91 commented on #130
We still need to update for `typescript-circleci`

[2018-10-10 14:30] abhiaiyer91 commented on #130
@schickling @nikolasburk do we want the README to describe installing prisma globally at beta? currently we have upgraded to `beta` and added `prisma` as a script in package.json

[2018-10-10 19:03] patrickdevivo opened #142 "golang prisma-client access relations in a single object query"
Right now, it seems like it's only possible in the golang generated client code to query for an object OR it's relation, not both. This _seems_ possible in the Typescript as such:

[code]

It would be useful if were possible to get a single object AND a relation(s) in a single query (is this not a main purpose of GraphQL?) rather than just one (the object) or the other (the relation)

[2018-10-11 07:14] divyenduz commented on #142
In TS, this will return just the array of links and not user with links. To do that in TS client, we need to do the following.

[code]

This fragment API is however, not present in Go yet and must be implemented.

[2018-10-11 08:45] nikolasburk commented on #130
As discussed internally already, we don't want anyone to install the `@beta` of the CLI. As long as it's needed, let's have additional `cd` statements in the READMEs and then eventually remove them once the Prisma CLI can detect prisma.yml in subfolders.

[2018-10-11 17:55] patrickdevivo commented on #142
@divyenduz I understand now, I didn't realize it was the fragment API that was necessary here. That would be very useful in the golang generated client code!

[2018-10-13 11:35] herkulano opened #157 "Hard path in typedefs"
https://github.com/prisma/prisma-examples/blob/559375dd8fbb55eaeba38e57360c34f4420bc174/typescript-graphql/src/index.ts#L6

This causes problems when transpiling the typescript code to another folder like `./dist`.

It would be nice to also have the complete story in the examples, i.e., compiling and running the code in production because `ts-node` is not intended for production.

[2018-10-13 19:24] #124 closed, assigned to abhiaiyer91

[2018-10-21 05:14] zwl1619 opened #198 "Could update prisma-binding with prisma client in `permissions-with-shield` example?"
Could update `prisma-binding` with `prisma client` in [permissions-with-shield](https://github.com/prisma/prisma-examples/tree/master/archive/permissions-with-shield) example?

[2018-10-21 05:42] abhiaiyer91 commented on #198
here: https://github.com/prisma/prisma-examples/tree/master/node-graphql-auth-advanced

[2018-10-21 05:50] #198 closed

[2018-10-22 07:57] schickling opened #199 "gRPC examples"
We should add some gRPC + Prisma examples.

[2018-10-22 07:58] schickling opened #200 "Thrift examples"
We should add some Thrift + Prisma examples.

[2018-10-24 05:16] wontwon opened #202 "Error in node-graphql-auth example"
# Issue
 - Followed the steps to get node-graphql-auth up and running, but upon trying to do mutation signUp, I get the following error:

[code]

[2018-10-28 16:32] notrab commented on #14
Happy to take this one @schickling if you have any commonly asked suggestions for these.

I can think right now of a formatted price resolver that returns price (+ currency) stored.

[2018-10-29 21:43] gedw99 commented on #111
hey @schickling
Thanks for the opportunity to propose this. I find Flutter to be a huge time saver for Mobile and Desktop apps..
https://github.com/prisma/prisma/issues/3393

I suggested a few approaches also.

[2018-11-05 12:32] gedw99 opened #232 "go-script import path error"
problem is here:
https://github.com/prisma/prisma-examples/blob/master/go-script/main.go#L5

[code]

I think you should have the full path

[2018-11-05 12:34] gedw99 commented on #232
doing same problem here: https://github.com/prisma/prisma-examples/blob/master/go-gin/main.go#L4

[code]

[2018-11-07 21:47] pungggi opened #239 "Browser?"
Is this working also in Browser? I do not see any examples.

[2018-11-14 18:02] kondanta commented on #56
I'm also getting a similar mutation error.

[code]

[2018-11-20 02:44] pavanagrawal123 opened #268 "Error while running example: parameter 'req' implicitly has an 'any' type"
https://github.com/prisma/prisma-examples/blob/7539c7f3a46b7fddf1a2f89f1ed6075a47e4145a/typescript-graphql-auth/src/index.ts#L8

Typescript is complaining here with: `parameter 'req' implicitly has an 'any' type`

Could fix with an ignore in the `tsconfig.js` like this: `"noImplicitAny": false,`, but I am not a typescript expert in any way shape or form ¯\\\_(ツ)\_/¯

[2018-11-26 05:42] harrysolovay opened #286 "More Flow examples please :)"
Hi,

I'd love to see a Flow example that incorporates image uploads & their image access permissioning. Feel free to close this issue immediately––just thought I should share what would be helpful to me. Thanks!

Kind regards,

Harry

[2018-11-27 08:48] #91 closed

[2018-11-27 17:49] siddhant1 opened #290 "Flexibility to auth"
I think we should add a flexibility to auth by passing a boolean to the utils function and throwing an error if auth is required.

[2018-11-27 18:20] vjsingh opened #291 "How to return non-scalar type ('Payload') in typescript/graphql example"
In the typescript/graphql example, if you want to return a more complex type, such as:

In https://github.com/prisma/prisma-examples/blob/master/typescript/graphql/src/schema.graphql
[code]

You get an error when running graphqlgen "Some types from your application schema have model definitions that are not defined yet"

What is the recommended way to do this? @nikolasburk Must be an easier way th

[2018-11-27 18:34] vjsingh commented on #291
It appears this is a duplicate: https://github.com/prisma/graphqlgen/issues/181

[2018-11-27 18:34] #291 closed

[2018-11-28 09:47] schickling opened #293 "AppSync examples"
We should create some examples on how to use AppSync together with Prisma (probably in Node & TypeScript).

[2018-11-28 10:23] thanhngvpt opened #294 "Error Project not found 'go-graphql$dev'"
Hi all,
I've cloned this repo to get starting with prisma and go. After run server by command `go run server/server.go` then try to create a post i got error `runtime error: invalid memory address or nil pointer dereference`  I print the error on this

[code]

My prisma.yml

[code]

Please help me check. Thank you

[2018-11-28 10:33] thanhngvpt opened #295 "ec.Tracer undefined (type *executionContext has no field or method Tracer)"
hi all,
I get this error after using prisma-client code generated by `prisma generate`
Steps to reproduce:

1. Init prisma project by command `prisma init`
2. Generate golang code by `prisma generate`
3. Create schema.graphql
4. Run `gqlgen init`
5. Run `dep init` then `dep ensure`
6. Start graphql server by `go run server/server.go` --> It works
7. Try to using prisma client in `resolver.go` as b

[2018-11-28 14:04] nikolasburk commented on #295
Hey @thanhngvpt, this should have been solved by the latest refactoring and cleanup effort of the examples. Please try the example again by following the steps in the README. If you're still running into the same problem, please reopen this issue! 🙏

[2018-11-28 14:04] #295 closed

[2018-11-28 14:04] nikolasburk commented on #294
Hey @thanhngvpt, this should have been solved by the latest refactoring and cleanup effort of the examples. Please try the example again by following the steps in the README. If you're still running into the same problem, please reopen this issue! 🙏

[2018-11-28 14:04] #294 closed

[2018-11-28 14:08] nikolasburk commented on #290
Hey @siddhant1, could you be a bit more specific as to **what example(s)** you're referring to and **what your solution would look like**?

[2018-11-28 14:09] nikolasburk commented on #268
Hey @pavanagrawal123, this should have been solved by the latest refactoring and cleanup effort of the examples. Please try the example again by following the steps in the README. If you're still running into the same problem, please reopen this issue! 🙏

[2018-11-28 14:09] #268 closed

[2018-11-28 14:11] nikolasburk commented on #239
Hey @pungggi, thanks for opening this issue. The main use case for Prisma client is to replace a traditional ORM in a web application server, this is why the examples are focussed around that use case. If you want to learn how to access Prisma from the browser, check out [Apollo Client](https://www.apollographql.com/).

[2018-11-28 14:11] #239 closed

[2018-11-28 14:11] nikolasburk commented on #232
Hey @gedw99, this should have been solved by the latest refactoring and cleanup effort of the examples. Please try the example again by following the steps in the README. If you're still running into the same problem, please reopen this issue! 🙏

[2018-11-28 14:11] #232 closed

[2018-11-28 14:12] nikolasburk commented on #202
Hey @wontwon, this should have been solved by the latest refactoring and cleanup effort of the examples. Please try the example again by following the steps in the README. If you're still running into the same problem, please reopen this issue! 🙏

[2018-11-28 14:12] #202 closed

[2018-11-28 14:17] nikolasburk commented on #142
I'm closing this issue as it doesn't seem to be related to the examples but rather asks for a features (the `$fragment` API) in the Go client. There's already an open feature request for that in the main Prisma repo: https://github.com/prisma/prisma/issues/3322

[2018-11-28 14:17] #142 closed

[2018-11-28 14:18] nikolasburk commented on #138
Fixed, thanks 🙏

[2018-11-28 14:18] #138 closed

[2018-11-28 14:18] #130 closed

[2018-11-28 14:19] #3 closed

[2018-11-28 14:21] #39 closed

[2018-11-28 14:21] #18 closed

[2018-11-28 14:21] #40 closed

[2018-11-28 14:21] #50 closed

[2018-11-28 14:29] nikolasburk commented on #96
Hey @valentinbe, could you be a bit more specific on what exactly? `el` is an `AsyncIterator`, so `next()` is the natural way to interact with it.

[2018-11-28 14:32] nikolasburk commented on #111
Thanks so much for your initiative and thinking about a Flutter client for Prisma! I'm closing this issue since it doesn't really relate to any examples but rather to the general feature set of Prisma, so the FR  https://github.com/prisma/prisma/issues/3393 you created should be enough! 🙏

[2018-11-28 14:32] #111 closed

[2018-11-28 23:06] jimmyjamieson opened #303 "TypeError: Only absolute URLs are supported"
Using the node-auth example on Ubuntu 18.04.
When I start the project and try to query on my localhost playground, I get

[code]

This is just a straight install from the example

[2018-11-29 09:43] nikolasburk commented on #303
Thanks for opening this issue @jimmyjamieson, did you execute all instructions that were explained in the README successfully?

Also, when did that error happen eexactly? Was is after you sent a query or immediately after you had started the server with `yarn start`?

I believe the error happens because the generated Prisma client (in `/src/generated/prisma-client/index.js`) does not have its `end

[2018-11-29 17:16] #55 closed

[2018-11-29 17:50] jimmyjamieson commented on #303
So, I've reset up, and went through the steps again to the same issue

Used the example here https://github.com/prisma/prisma-examples/tree/master/node/graphql-auth

npm i && prisma deploy and chose the demo service i created on prisma cloud, using the login steps, so it generates everything for me

run npm start and open localhost:4000

Do a test query in the Playground

[code]
and get the result

[2018-11-29 17:54] nikolasburk commented on #303
Hmm weird, can you please check in the generated `/src/generated/prisma-client/index.js` whether the `endpoint` is set (should be in line 19).

[2018-11-29 18:02] jimmyjamieson commented on #303
No, it's empty

[2018-11-29 18:03] jimmyjamieson commented on #303
let me try the rest

[2018-11-29 18:16] jimmyjamieson commented on #303
running prisma generate manually fixed it

[2018-11-29 18:17] nikolasburk commented on #303
Hmm, can you please run `prisma deploy` and print the logs here. It seems like the `post-deploy` hook from `prisma.yml` is not being invoked for some reason.

[2018-11-29 18:29] nikolasburk commented on #303
What happens when you run `prisma deploy`?

[2018-11-29 18:30] jimmyjamieson commented on #303
[code]

[2018-11-29 18:34] nikolasburk commented on #303
I see, this looks like a bug in the Prisma CLI. Can you please [open an issue](https://github.com/prisma/prisma/issues/new?template=bug_report.md) in the main Prisma repo with that same output and the version of the Prisma CLI you're using :)

[2018-11-29 18:34] #303 closed

[2018-11-29 18:35] jimmyjamieson commented on #303
ok, no probs. Thanks for your help :)

[2018-11-30 09:31] geroj opened #310 "Wrong import of type Prisma in Flow Example"
I've found error while trying out your Flow graphql example

There is not correct import of type Prisma in file `types.js`
https://github.com/prisma/prisma-examples/blob/master/flow/graphql/src/types.js

There is work around which works for me
[code]

based on https://github.com/facebook/flow/issues/4002#issuecomment-384756198

Another option would be exposing PrismaInterface from https://github.c

[2018-11-30 10:08] nikolasburk commented on #310
Thanks for opening this issue. What exactly is the error you're seeing? I can't reproduce it at the moment, everything works fine when using the instructions from the README.

Can you please post the error message you're seeing and explain when exactly the error occurs?

[2018-11-30 10:10] nikolasburk opened #311 "Add missing examples"
- typescript
  - [x] script
  - [x] graphql
  - [x] graphql-auth
  - [ ] graphql-subscriptions
  - [x] rest
  - [x] cli
- node
  - [x] script
  - [x] graphql
  - [x] graphql-auth
  - [x] graphql-subscriptions
  - [x] rest
  - [x] cli
- golang
  - [x] script
  - [x] graphql
  - [ ] graphql-auth
  - [ ] graphql-subscriptions
  - [x] rest
  - [x] cli
- flow
  - [x] script
  - [x] graphql
  - [ ] grap

[2018-11-30 10:32] nikolasburk commented on #310
Thanks, do you want to submit a PR to fix this? Otherwise I can look into it later today :)

[2018-11-30 11:04] geroj commented on #310
I think that it will be better when you will have look into this. My solution is just workaround for issue that generated types don't export `PrismaInterface`. Thank you :)

[2018-12-01 14:14] siddhant1 commented on #290
[code]

[2018-12-01 14:15] siddhant1 commented on #290
I would like to pass in a requireAuth boolean to throw error if required.

[2018-12-03 04:20] DevanB commented on #293
@schickling I'm curious about this. Is this possible? What are the advantages/disadvantages? I might consider implementing this locally for a side project, if it's not too verbose...however, I'm not sure how to even start.

[2018-12-03 13:32] geroj opened #313 "Flow error while modifying resolver in Query Example"
I've modified resolver from custom example https://github.com/prisma/prisma-examples/blob/master/flow/graphql/src/resolvers/Query.js as following:

[code]
Following Flow error appeared:
![snapshot3](https://user-images.githubusercontent.com/5442228/49376122-851dfe80-f706-11e8-9698-a5a9b859884a.png)

It can be fixed by changing lines in generated file `index.js` to readonly as follows:
[code]
So so

[2018-12-04 08:05] iamclaytonray opened #315 "Feature: Use NPX Over Global Deps"
Instead of having users install prisma globally, can we consider using NPX instead? It's easier to manage versions and does not clutter up the global disk. (It also slightly lowers the barrier-to-entry. Not much but every little bit counts)

If you give this the go-ahead, I'll refactor the READMEs & package.json's to reflect the changes. IE:

[code]

And users would simply type `yarn prisma [comma

[2018-12-05 10:38] nikolasburk commented on #315
Hey @iamclaytonray, thanks so much for sharing your thoughts. We have actually thought _a lot_ about this internally and with the latest examples overhaul we've decided to:

- Consistently require users to install the Prisma CLI globally
- Include all other dependencies (e.g. graphqlgen) as dev dependencies and invoke them via a script defined in package.json

The reasoning for the global installa

[2018-12-05 10:38] #315 closed

[2018-12-05 10:44] #96 closed

[2018-12-06 17:40] marktani opened #320 "Example that shows different data modelling capabilities"
## Idea

Examples that help understand the connection between the datamodel and the API capabilities.

Some illustrations:

* a relation between two types adds _nested mutations_, _hierarchical queries_ and _relational filters_.
* a unidirectional relation only allows querying/setting data in one direction
* a scalar list introduces a `set` input field to set the scalar list

## Structure

The exa

[2018-12-07 11:02] nikolasburk commented on #290
Hey @siddhant1, what's the use case for this? When would you set it to false?

[2018-12-10 13:00] nikolasburk opened #326 "Wrong example README for subscriptions examples"
The README for the [Prisma subscriptions example](https://github.com/prisma/prisma-examples/tree/master/node/graphql-subscriptions) has wrong instructions since it's based on a wrong GraphQL schema.

[2018-12-14 14:30] speix opened #332 "prisma-client for golang compilation error"
Following the exact steps on this guide to deploy prisma on an existing Postgres database:

[Go for existing database](https://www.prisma.io/docs/1.20/get-started/01-setting-up-prisma-existing-database-GO-g003/)

I successfully generate my go client using the command below:

`prisma generate`

My prisma.yml file:
[code]

But using the code below:
[code]

And essentially my code is unable to compil

[2018-12-15 19:39] speix commented on #332
Following up, the golang generator creates duplicates for the **created** and **updated** fields for some reason.
So I end up having **create_at_desc** and **createdAt_desc** after prisma generate command.

Am I missing something?

[2018-12-15 19:52] #332 closed

[2018-12-17 09:28] nktka opened #335 "TypeScript subscribtion example not working"
https://github.com/prisma/prisma-examples/tree/master/typescript/graphql-subscriptions example doesn't work when running prisma locally. Getting this error when trying to subscribe through playground as per readme:

`{
  "error": {
    "message": "The provided query doesn't include any known model name. Please check for the latest subscriptions API."
  }
}`

[2018-12-17 13:14] speix opened #336 "go-client generator errors"
For the last week I've been testing the go-client generator with an existing database, and it seems that its not ready for production.  The prisma playground works find by the way.

If my Postgres schema is as simple as possible (say a User and Posts), the generator works fine.
When I am integrating a little more complicated relationship I get a ton of errors on go compilation like the ones below:

[2018-12-17 20:54] nktka commented on #335
Was using yarn. Switching to npm fixed the issue.

[2018-12-17 20:54] #335 closed

[2018-12-19 12:51] schickling opened #345 "Add more docker examples"
The following docker examples are missing:

- [ ] `docker-mysql-new`
- [ ] `docker-mysql-existing`
- [ ] `docker-postgres-new`
- [ ] `docker-postgres-existing`

[2019-01-03 17:12] nikolasburk commented on #345
@schickling can you clarify what the `X-existing` examples should look like? Should the only difference be that they have set the `migrations` property to `false` in their Docker Compose file? Also note that this only works for the `postgres` connector but doesn't yet work with `mysql`.

[2019-01-03 18:13] schickling commented on #345
As just discussed offline, it makes sense to just keep the `X-new` examples and link to the respecting getting started docs for existing databases.

[2019-01-10 09:01] divyenduz commented on #310
This is fixed in beta version `1.25.0-beta.4`. Please give it a go via `npm install -g prisma@beta` and let me know if that works for you. Thanks.

[2019-01-11 19:59] vjsingh opened #366 "Authentication in browser not working"
Going through https://github.com/prisma/prisma-examples/tree/master/typescript/script

On step 3 / Authentication, I do "prisma deploy" select "demo server", and when clicking "Grant Permission" in the browser (chrome), I get this error:

Network error: Unexpected token < in JSON at position 0

[2019-01-12 13:01] vjsingh commented on #366
@divyenduz thanks! That worked =)

[2019-01-12 13:01] #366 closed

[2019-01-12 20:47] #286 closed

[2019-01-17 15:06] nikolasburk opened #370 "Next step `Learn more about the GraphQL schema` not appropriate in some READMEs"
E.g. in `docker-mongodb`

[2019-01-17 16:48] nikolasburk commented on #345
Added 6 more examples:

 - Node
  - `docker-mysql`
  - `docker-postgres`
 - TypeScript
  - `docker-mysql`
  - `docker-postgres`
 - Go
  - `docker-mysql`
  - `docker-postgres`

[2019-01-17 16:48] #345 closed

[2019-01-17 17:09] nikolasburk opened #373 "Flow typechecking always fails in `flow/script` example"
To "fix" the Circle build, [I've removed the `flow check` command](https://github.com/prisma/prisma-examples/blob/master/.circleci/config.yml#L51). But this should only be a tmp solution until the typechecking is fixed.

[2019-01-17 17:11] nikolasburk opened #374 "Several TS examples require `@types/graphql` and `@types/ws` dependencies"
Several TS examples require `@types/graphql` and `@types/ws` dependencies, e.g.:

- `docker-X`
- `rest-express`

The examples should work without these dependencies.

[2019-01-22 12:45] siddhant1 commented on #290
Sorry for being late.
I had this issue when I was writing a GraphQl API when if a user queries a list of further users it can view his email but not other person's email.
So, in this case, I had to check for the authentication but not throw an error.

[2019-01-22 16:04] #37 closed

[2019-01-22 16:04] #92 closed

[2019-01-22 16:04] #157 closed

[2019-01-25 16:06] nikolasburk opened #391 "Circle builds `meta` and `typescript` are failing"
meta:

[code]

typescript:

[code]

[2019-01-28 03:39] #313 closed

[2019-01-31 14:43] lterfloth opened #402 "npx generate fails"
I updated all my dependencies and copied the typescript-auth starter while using a local docker container as the prisma endpoint.

Using "prisma deploy" runs "prisma generate" sucessfully but "npx nexus-prisma-generate" fails and logs the error "No valid 'prisma-client-dir' was found".

I went through all the recent changes and can't find a solution to my problem. I assume there's something wrong

[2019-01-31 21:39] #319 closed

[2019-02-02 16:00] Weakky commented on #402
Hey, apologize for the inconvenience.

`nexus-prisma-generate` was indeed updated, and as we're using it via `npx` we forgot to update the examples here. This is soon gonna be fixed.

As @funthomas suggested, this is indeed the right fix.

`nexus-prisma-generate` now takes two arguments:

- `prisma-client-dir` which is the directory where your prisma client is located
- `output-dir` which is where

[2019-02-04 09:13] seanemmer opened #417 "prisma.graphql not generated for Nexus examples"
Adding the following to prisma.yml fixes, happy to create a PR:

[code]

[2019-02-04 09:17] nikolasburk opened #419 "Improve TS gRPC example"
The [typescript/grpc](https://github.com/prisma/prisma-examples/tree/master/typescript/grpc) should have better typings and ideally also use codegen to generate the gRPC clients.

[2019-02-04 09:55] nikolasburk opened #420 "typescript/graphql example: TypeError: Cannot read property 'length' of undefined"
When following the instructions in the README of the [typescript/graphql](https://github.com/prisma/prisma-examples/tree/master/typescript/graphql) example, I'm getting the following error after running `npm run start`:

[code]

[2019-02-04 18:06] #417 closed

[2019-02-04 18:06] seanemmer commented on #417
This was an erroneous issue on my part.

[2019-02-05 09:49] lterfloth commented on #402
@funthomas @Weakky thank your for your suggestions. The fix works like a charm, cheers!

[2019-02-05 14:01] otrebu commented on #420
I changed the way the start script to:

`nodemon -e ts -x ts-node src/server.ts`

and I got some better error than the above:

`TSError: ⨯ Unable to compile TypeScript:
src/index.ts(21,21): error TS2345: Argument of type '"Post"' is not assignable to parameter of type 'BaseScalars'.
src/index.ts(30,28): error TS2345: Argument of type '"Post"' is not assignable to parameter of type 'BaseScalars'.
s

[2019-02-05 14:02] funthomas commented on #420
maybe is problem in version of Nexus
in repo nexus-prisma is used version 0.7.0-alpha.2 in prisma example repo is used nexus 0.9.7

[2019-02-05 14:04] funthomas commented on #420
when i use nexus 0.7.0-alpha.2

problem with args is gone, but still have some issues

 Error: Missing type AuthPayload, did you forget to import a type or mean BatchPayload?
    at PrismaSchemaBuilder.SchemaBuilder.missingType (/Users/tombo/Projects/Prisma/examples/typescript/graphql-auth/node_modules/nexus-prisma/node_modules/nexus/dist/builder.js:185:15)
    at PrismaSchemaBuilder.SchemaBuilder

[2019-02-05 14:10] otrebu commented on #322
@schickling @marktani anyone working on completing this example?

[2019-02-05 17:00] kevinmarrec commented on #420
@otrebu I think `nodemon` + `ts-node` is really slow to restart comparing to `ts-node-dev`, and we shouldn't have errors in editor. So I guess it's only something wrong around `nexus-prisma` or `nexus` last version(s).

For the error, Got this error at a point of time, somehow you need to keep the `generated/nexus.ts` the first time you run the server. But it could be cool if @nikolasburk could te

[2019-02-05 17:01] kevinmarrec commented on #420
@funthomas Yeah it's surely a change since 0.7.0-alpha2 that causes the issue, but I prefer stick with last version (that is not alpha btw) and try to find out what made the thing break :D

[2019-02-06 08:53] kevinmarrec commented on #420
After investigating a bit more, it seems that `idArg`, `stringArg`, etc ... from `nexus` are mismatching with what `args` wants to receive.
[code]
but as something like
[code]

For example, this code works :
[code]

BUT, well, you need to define the arguments, **SAVE** so that your server restart and generate typedefs for these arguments to be THEN available in the `resolver`.

If you have the `Ar

[2019-02-06 09:32] otrebu commented on #420
Thanks @kevinmarrec, I am a bit new to the TS world, but basically I just wanted to highlight the better errors I got from using `nodemon` + `ts-node`. I found `ts-node-dev` error not very clear.
Regardless of this, the problem is surely in some changes in `nexus-prisma` or `nexus`.

Thanks you for investigating, I will give it a try later!

[2019-02-07 19:14] Weakky opened #436 "Update circleci/config.yml to use the latest nexus-prisma-generate args (--client & --output)"
The following is ran on the `.circleci/config.yml` file, although now nexus-prisma-generate takes --client and --output as argument

[code]

This currently makes the tests failing

[2019-02-08 10:02] Weakky commented on #436
Fixed by 69571a7d77a8f7e6a98abe53a9763ea3b65c3a26

[2019-02-08 10:02] #436 closed

[2019-02-08 10:04] Weakky commented on #402
FYI, `nexus-prisma-generate` now takes named argument such as:

`npx nexus-prisma-generate --client ./src/generated/prisma-client --output ./src/generated`

Also, `--output` now expects a directory and not a file.

Closing this 🙌

[2019-02-08 10:04] #402 closed

[2019-02-08 11:51] nikolasburk commented on #420
There were quite some issues with `nexus` and `nexus-prisma` over the last few days, but now everything should be stable again. I just updated the graphql and graphql-auth examples to account for all the changes that were introduced 👍

[2019-02-08 11:51] #420 closed

[2019-02-08 11:51] #391 closed

[2019-02-08 13:42] kevinmarrec commented on #420
@nikolasburk Yeah, I updated to last versions/behaviors after reading the last Prisma Blog post, and everything rocks now 👌.

[2019-02-09 01:59] steebchen opened #445 "go/graphql example panicing"
The GraphQL Go example works fine, but when sending a lot of requests (like 10/second) there is an occasional panic:

[code]

This uses a local Prisma+Postgres setup.

go version go1.11.2
prisma-examples@7f749a882a4d2818304d49907936a70701a6622b
prisma/1.26.4 (linux-x64) node-v10.15.0
prisma server prismagraphql/prisma:1.26

[2019-02-10 12:18] lterfloth commented on #420
Little offtopic but just a quick question regarding nexus-prisma. What is the equivalent to `t.list.string("tags")` to fill a field of type [String!]! in the resolvers of nexus-prisma? The property list does not exist on type t and the examples don't help atm. I thought maybe someone would be able to help me here. Are there any better ways of contacting the community, beside the forum?

[2019-02-10 20:54] schickling commented on #94
As prisma/prisma#3596 is fixed and released, this issue should not be unblocked @nikolasburk  🚀

[2019-02-11 17:24] steebchen commented on #445
moved to https://github.com/prisma/prisma/issues/4033

[2019-02-11 17:24] #445 closed

[2019-02-18 10:40] astha-nimblechapps opened #462 "Performance improvement"
Hello,

I need to improve the performance of query and mutation as fast as we can, is there any way to do so?. Please help me out I am stuck.

Thanks

[2019-02-21 09:26] nikolasburk commented on #462
Hey @astha-nimblechapps, thanks a lot for opening this issue. Would you mind sharing what example you're referring to? In case you're seeking general help with Prisma, please ask your question in the [Prisma forum](https://www.prisma.io/forum/) or open an issue in the main [Prisma repo](https://github.com/prisma/prisma).

[2019-02-21 09:28] astha-nimblechapps commented on #462
yes sure I got the solution

Thanks

[2019-02-21 09:28] #462 closed

[2019-02-26 14:54] siddhant1 commented on #290
@nikolasburk should I work on it?

[2019-02-28 07:53] vadymkukhtinOD opened #483 "Error in examples "Build an App""
While going through the example see one bug in examples:

[URL](https://www.prisma.io/docs/1.26/get-started/03-build-graphql-servers-with-prisma-TYPESCRIPT-t201/#explore-the-graphql-api-in-a-playground)

On third Example "Publish a Post" - there is a bug.
It should be referring to "id" but not "postId" to work properly

[2019-03-04 09:09] nikolasburk commented on #483
Thanks a lot for catching this @vadymkukhtinOD, I just the fixed the sample mutation in the docs 🙌

[2019-03-04 09:09] #483 closed

[2019-03-06 10:19] #310 closed

[2019-03-06 12:36] herbertpimentel opened #492 "File handle example"
Add a  file handle example, all links I have found about this "archive" are broken.

[2019-03-06 14:30] maiguangyang opened #493 "graphql.NewOrderedMap is undefined"
prisma-examples/go/graphql/server/generated.go

./generated.go:495:9: undefined: "github.com/99designs/gqlgen/graphql".NewOrderedMap
./generated.go:657:9: undefined: "github.com/99designs/gqlgen/graphql".NewOrderedMap
./generated.go:886:9: undefined: "github.com/99designs/gqlgen/graphql".NewOrderedMap
./generated.go:1145:9: undefined: "github.com/99designs/gqlgen/graphql".NewOrderedMap
./generated

[2019-03-07 01:19] #123 closed

[2019-03-10 22:22] laeijebor commented on #43
Hiya - the archive folder looks to have been removed again. Any chance this example could be reintroduced? I think it would be useful. If some changes are needed I'm happy to look work up a PR, once I know whereabouts to start...

[2019-03-13 17:23] #373 closed

[2019-03-28 04:15] OmkarMS commented on #303
Hi, I'm facing the same problem. When I run prisma deploy, there are no logs generating terminal is showing just ----
yarn run v1.15.2
$ prisma deploy
Done in 0.13s.
Also tried to run prisma generate. After completion of process it just returned ----
yarn run v1.15.2
$ prisma generate
Done in 0.07s.

Also there is no endpoint specified at server/prisma/prisma.yml after running prisma deploy.

[2019-03-28 04:22] vincentvella commented on #303
Wild guess but are you using dotenv to set those environment variables? I was having the same problem and removing the ${env:PRISMA_ENDPOINT} variable that I had in the prisma.yml file solved my issue.

[2019-03-28 05:40] OmkarMS opened #535 "TypeError: Only absolute URLs are supported"
I tried to query in graphql playground and I get error on terminal----
Server is running on http://localhost:4000
TypeError: Only absolute URLs are supported

and in playground, when I try to fire----

[code]

[code]

I get the result as ---

[code]

[2019-03-28 06:30] OmkarMS commented on #303
No I am not using dotenv. I was learning on HowToGraphql portal. Followed all the steps as specified in the documentation.

[2019-03-28 16:43] vistriter commented on #535
@OmkarMS If you set up prisma endpoint by env you must install dotenv and set config. :rocket:

<img width="680" alt="Screen Shot 2562-03-28 at 23 41 56" src="https://user-images.githubusercontent.com/24702575/55176164-33b4e600-51b3-11e9-8f76-29796f056ac7.png">

[2019-03-29 15:31] tkallioras commented on #493
I have the same issue as well. Has anybody found a solution?

[2019-04-04 14:32] nikolasburk opened #544 "Remove workaround from Flow examples"
Context: https://github.com/prisma/prisma/issues/3617#issuecomment-479917446

[2019-04-07 02:34] clarkbrent commented on #493
The example you're referring to in particular seems to require the use of the [dep management tool](https://github.com/golang/dep). Doing a simple `go get` doesn't seem to work like in a few of the other examples I messed around with.

It's worth mentioning though that managing dependencies through modules seems to be the way the golang project is going to handle dependencies [starting in 1.13 (~A

[2019-04-08 07:00] schickling commented on #94
@nikolasburk is this indeed done?

[2019-04-08 07:45] nikolasburk commented on #94
It's done for all examples except the Go Docker examples, let's leave it open until that's they're also done 👍

[2019-04-14 07:11] siddhant1 commented on #290
Still waiting for reviews on it

[2019-04-14 12:03] liywjl opened #557 "Typo"
`go run sripts/gqlgen.go`

should be:

`go run scripts/gqlgen.go`

in https://github.com/prisma/prisma-examples/blob/master/go/graphql/README.md

[2019-04-15 16:23] nikolasburk commented on #557
Thanks a lot for catching this @liywjl, just fixed the issue 🙌

[2019-04-15 16:23] #557 closed

[2019-04-17 16:48] abdullah-almesbahi opened #560 "Query was defined in resolvers, but it's not an object"
I am using this example [this](https://github.com/prisma/prisma-examples/tree/master/typescript/graphql-auth)

After hours of spending to find out what is the issue , I figured out is from graphql-shield

when ever I run "yarn start" , I get this error
"Query was defined in resolvers, but it's not an object"

if I remove permission file , every thing work fine

[2019-04-17 18:00] #560 closed

[2019-04-18 05:00] MANJUSAK opened #562 "Resolver not implemented"
start:
`query accessMenu($where: AccessMenuWhereUniqueInput!) {
  accessMenu(where: $where) {
    id
  }
}
{
  "where": {
    "id": "123"
  }
}`
result:
`{
  "errors": [
    {
      "message": "Resolver not implemented",
      "locations": [
        {
          "line": 2,
          "column": 3
        }
      ],
      "path": [
        "accessMenu"
      ],
      "extensions": {
        "code": "I

[2019-04-20 19:32] jhalborg opened #567 "Namespacing/nesting queries and mutations in schema with Nexus and Shield"
Hey!

Thanks for the examples, they are super helpful 👏

I'm evaluating Nexus and Shield, and have taken the `graphql-auth` project as a starter example. I've got the project up and running, and was trying to figure out how namespacing the schema would work - for example, nest all `User` related queries and mutations under a `User` namespace, so instead of

[code]

one would do

[code]

Same goes

[2019-04-25 07:31] nikolasburk commented on #562
Hey @MANJUSAK, thanks a lot for opening this issue 🙂 could you please provide a bit more information about your problem:

- Which example are you referring to?
- At which step in the README of the example does the error occur?

[2019-04-26 01:55] MANJUSAK commented on #562
@nikolasburk

Thank you very much for your answer. The problem has been found and has been resolved.

The parser needs to be its own implementation method
E.g
` categories: (parent, args, ctx) => {
    console.log('args--------->', args)
    return ctx.prisma.categories(args)
  },
  categoriesConnection: (parent, args, ctx) => {
    throw new Error('Resolver not implemented')
  }`

[2019-04-30 14:10] #492 closed

[2019-05-22 17:50] #535 closed

[2019-05-27 13:10] 5achinJani commented on #290
@siddhant1 I think in your case having a field level rule auth with [graphql-shield](https://github.com/maticzav/graphql-shield) would work. Let me know if it helps.
[graphql-shield-example](https://github.com/maticzav/graphql-shield/blob/master/examples/advanced/src/permissions/index.ts)

[2019-06-01 04:37] #493 closed

[2019-06-07 09:34] jhalborg commented on #567
Not stale, just low prio I think :D

[2019-06-08 14:28] MichaelHindley opened #624 "createDraft mutation does not work in typescript/graphql-apollo-server"
Using the following mutation:

[code]

With these variables:

[code]

should create a draft for the user alice@prisma.io, judging by this code in `src/index.ts`

[code]

Instead, this error is received:

[code]

Prisma CLI version: prisma/1.34.0 (darwin-x64) node-v11.2.0
Prisma server version: 1.34.0

[2019-06-12 22:54] dohaicuong commented on #322
Apparently, Apollo release their new tools to build API gateway and microservices.
I create a repository putting Apollo Federation and Prisma together.
https://github.com/dohaicuong/prisma-microservices

[2019-06-13 16:46] jferrettiboke commented on #322
@dohaicuong Thanks for sharing this.

One thing concerned me, though. How can Prisma ensure distributed transactions when using microservices? We should have events or something to communicate with other services.

[2019-06-13 16:47] jferrettiboke commented on #322
@dohaicuong Thanks for sharing this.

One thing concerns me, though. How can Prisma ensure distributed transactions when using microservices? We should have events or something to communicate with other services.

[2019-06-18 11:38] dohaicuong commented on #322
Sorry for the late reply.

That's what I've been looking at.
So I could say event driven is a good approach in this case, or something like Saga to ensure the distributed transactions would make sense. However, I think there is no silver bullet for distributed system like this.

Or we can see if there any supports from prisma team about the good approach for this maybe :))

[2019-06-23 18:12] akhilshastri opened #641 "boroken typescript example"
prisma-examples/typescript/graphql-auth/src/resolvers/Post.ts

it' showing typescript error in WebStoarm

![image](https://user-images.githubusercontent.com/8503650/59980219-4c953200-9610-11e9-9494-029e5627ba2b.png)
---

if I remove name from config , the error goes away

![image](https://user-images.githubusercontent.com/8503650/59980231-7baba380-9610-11e9-8828-b39b75d52540.png)

[2019-06-30 08:58] #419 closed

[2019-07-01 18:13] #370 closed

[2019-07-02 08:54] #374 closed

[2019-07-17 09:19] #94 closed

[2019-07-21 14:28] #290 closed

[2019-07-24 14:28] Jaikant commented on #321
I used ApolloError and
`const { ApolloError } = require('apollo-server-errors')
throw new ApolloError(MSG, CODE)
`
and it worked well.

`apollo-error` otoh, doesn't implement the latest spec (uses `data` property instead of `extensions`)

[2019-08-01 05:00] Silverutm opened #683 "Visualize data via docker psql"
I'm trying to access the database via command line:

`docker exec -it containerId bash
`

then
`psql -U prisma
`

then
`\c prisma;`

and

`\dt;`

But I only receive the message
`Did not find any relations.`

But there is information in the database that I can access and modify trough prisma
Any idea why is this happening?

[2019-08-01 12:43] maticzav commented on #567
Not stale

[2019-08-02 15:39] #624 closed

[2019-08-07 00:34] brianyang opened #686 "Cannot find module 'prisma-client-lib'"
unable to start boilerplate app

steps to reproduce issue:

1. graphql new-app
2. select typescript-advanced
3. cd into new-app
4. yarn start

observe following error:

[code]

[2019-08-07 00:35] brianyang commented on #686
issue resolved with:

`yarn add prisma-client-lib`

where can i add this in the code so that other users won't have the same issue?

[2019-08-07 01:22] #311 closed

[2019-08-12 15:44] wtait commented on #303
I encountered the same "absolute URL" error when following the How To GraphQL tutorial and, like @jimmyjamieson, inspection of src/generated/index.js showed that the endpoint was not getting set. After digging deeper I found that I had used an invalid service/staging name when initializing the Prisma client. the solution:

-navigate to server/prisma/prisma.yml and locate the invalid endpoint name:

[2019-08-15 05:13] #562 closed

[2019-08-17 18:50] #641 closed

[2019-08-19 22:00] #686 closed

[2019-08-23 12:24] schickling opened #707 "Configure renovate to update `prisma2` as dev dependency on `prisma2` branch"

[2019-08-23 13:27] renovate[bot] opened #711 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Edited/Blocked

These updates have been manually edited so Renovate will no longer make changes. To discard all commits and start over, check the box below.

 - [ ] [chore(deps): update dependency @types/jest to v26.0.7](../pull/1898)
 - [ ] [chore(deps): update dependency @types/node to v12.12.52](../pull/1899)
 - [ ] [chore(d

[2019-08-26 09:40] divyenduz commented on #707
I think you handled this already?

[2019-08-26 13:33] #707 closed

[2019-08-26 13:47] divyenduz opened #742 "zeit now example with zero config"
Make the Prisma 2 + zeit's now example zero config: https://github.com/prisma/prisma-examples/tree/prisma2/deployment-platforms/zeit-now

[2019-08-27 12:38] divyenduz commented on #742
Works via https://github.com/prisma/prisma-examples/pull/745

[2019-08-27 12:38] #742 closed

[2019-08-28 01:45] GolfredoPerezFernandez opened #748 "[Network error]: TypeError: Failed to fetch"
Hi i am using the graphql auth typescript example, but is given me this error when i make a mutation from the frontend(React):
Access to fetch at 'https://prisma-auth-lightmatter-vcevfhcqxk.now.sh/' from origin 'http://localhost:8080' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the reque

[2019-09-04 20:46] bensonodede commented on #303
I have come across this problem while trying to set up multiple deployment environments for prisma (dev, staging and production).

**### The problem**
I used multiple env files to configure my prisma.yml file for deployment, my prisma.yml file  looks something like this:

`
endpoint: ${env:PRISMA_ENDPOINT}
datamodel: ${env:PRISMA_DATAMODEL}

generate:
  - generator: javascript-client
    output: $

[2019-09-04 20:57] bensonodede commented on #303
I have come across this problem while trying to set up multiple deployment environments for prisma (dev, staging and production).

**### The problem**

I used multiple env files to configure my prisma.yml file for deployment, my prisma.yml file  looks something like this:

[code]

And thus, my generated prisma-client/index.js file had the endpoint as:

``endpoint: `${process.env["PRISMA_ENDPOINT"]

[2019-09-16 08:41] jhalborg commented on #567
Still not stale, go away stale bot! 😄

[2019-09-20 14:34] gHashTag opened #805 "Error: Not Authorised!"
Played all the steps in this example
https://github.com/prisma/prisma-examples/tree/master/node/graphql-auth
but upon request

[code]

I get this error

[code]

Updated HTTP HEADERS
[code]

But request

[code]

with the same HTTP HEADERS works.
What is the problem?

<img width="1440" alt="Screenshot 2019-09-20 at 17 33 53" src="https://user-images.githubusercontent.com/6774813/65335287-d3848700-db

[2019-09-22 15:27] #326 closed

[2019-09-22 18:26] gHashTag commented on #805
For two years, observe your project, it is shocking that you do not have testers who will verify what you write in the documentation.
Anyone answer?

[2019-09-22 19:59] gabrielruss commented on #535
I would just like to add to this just in case someone else comes along with my same problem. I had `require('dotenv').config()` in my file along with `const { prisma } = require('./generated/prisma')` but I had them in the wrong order. You have to put the dotenv config BEFORE the prisma declaration.

[2019-09-22 20:00] gabrielruss commented on #303
I would just like to add to this just in case someone else comes along with my same problem. I had require('dotenv').config() in my file along with const { prisma } = require('./generated/prisma') but I had them in the wrong order. You have to put the dotenv config BEFORE the prisma declaration.

[2019-09-25 06:08] #683 closed

[2019-09-27 03:24] Jermorin opened #825 "Typescript sample - prismaObjectType is not a function"
Hi guys !

I've an issue with Typescript sample (graphql-auth) when I launch the service seems that the lib was updated but not the usage in the code

[code]

Do I forget something ?

Thanks in advance

[2019-09-28 12:34] tombarton commented on #825
@Jermorin the `nexus-prisma` package has been updated in the last couple of days. As part of this update, they have dropped support for Prisma 1.0 ([see here](https://github.com/prisma-labs/nexus-prisma/releases/tag/v0.4.1)). To get things working again with the existing documentation, downgrade your version of `nexus-prisma` to `0.3.8`.

[2019-09-29 05:50] jeremy-kreditech commented on #825
Hi ! Its exactly that I did after looking git logs, and obviously work better. Should be a good idea to downgrade it in the package.json to assure that when you git clone you don't have to downgrade manually as I did ?

Thanks for your response

[2019-09-29 05:55] Jermorin commented on #825
Hi ! Its exactly that I did after looking git logs, and obviously works better. Could be a good idea to downgrade it in the package.json to assure that when you git clone you don't have to downgrade manually as I did ?

Thanks for your response

[2019-09-29 05:56] #825 closed

[2019-09-30 07:08] imVinayPandya opened #826 "npm run signupUser failed"
I have created new project using javascript + gRPC. I ran npm start and npm run singupUser

i was giving me the something like "Instead of where, you should add data object". I have made this change on localhost and it worked.

Here is the code ref: https://github.com/prisma/prisma-examples/blob/1d4e05b1c769c741e12e02e72441e19c8f5d6ef7/javascript/grpc/server/server.js#L60

I am happy to submit the

[2019-10-07 01:12] #748 closed

[2019-10-08 16:40] haysclark opened #844 "docker example does not work for Darwin (OSX) users"
The `docker` example does not work for Darwin (OSX) users due to the fact that there is no pre-compiled version of bcrypt@3.0.6 for Node 12.4.0 currently.

https://github.com/prisma/prisma-examples/blame/prisma2/deployment-platforms/docker/Dockerfile#L1

A workaround is to roll back to Node v10.16.3:

[code]

[2019-10-09 09:05] pantharshit00 commented on #844
Can you please raise a PR changing `bcrypt` to `bcryptjs`? That would be helpful for us.

[2019-10-10 19:59] ToJen opened #860 "New Example: Usage with go.mod"
The [Go graphql](https://github.com/prisma/prisma-examples/tree/master/go/graphql ) example shows a project setup using Gopkg.toml. Would it be ok to create a PR that shows how prisma can be used with the new go mod?

[2019-10-12 20:46] muzaffersenkal commented on #805
Hi gHashTag,

Did you solve problem ? Can you share permission file ?

[2019-10-14 11:15] gHashTag commented on #805
Нет

[2019-10-18 16:21] janpio opened #1425 "Automatically recommend VSCode extension in example project by including in Workspace file"
![image](https://user-images.githubusercontent.com/183673/74524318-1863de00-4f1f-11ea-9e78-271656a6d41a.png)

![image](https://user-images.githubusercontent.com/183673/74524449-595bf280-4f1f-11ea-8ba7-4ba536366549.png)

![image](https://user-images.githubusercontent.com/183673/74524479-65e04b00-4f1f-11ea-809b-02d944fb2575.png)

See internal Slack thread: https://prisma-company.slack.com/archives/C

[2019-10-20 16:22] marktopper opened #865 "MySQL Error: Error in migration engine"
I did a clean setup of Prisma2 with the following input/output:
[code]

This error does not happen when do the setup with `sqlite`.

[2019-10-20 17:26] tomhoule commented on #865
Thanks for reporting the bug! This is a  known problem that we worked on, a fix was merged this week and it will be in the next preview version.

Relevant issues: https://github.com/prisma/prisma-engine/issues/49 and https://github.com/prisma/lift/issues/107

This is a problem that only occurs on MySQL 8, so as a temporary workaround until the next preview, using MySQL 5.7 should work. I hope this

[2019-10-21 06:08] iRoachie opened #866 "Typescript Examples fail after building"
Currently, all the typescript examples will fail after being built. This is because of the `require.resolve` call to `context.ts`. After running the build script (tsc), the compiled files will still reference that `context.ts` but that file will not be there since the outDir for typescript is `dist`.

[code]

The compiled schema.js will have this line

[code]

This fails because the file is no lon

[2019-10-22 07:41] #866 closed

[2019-10-23 08:14] nikolasburk commented on #865
@marktopper the fix should have been deployed with yesterday's release, therefore I'm closing this issue. Please feel free to reopen if you still encounter the same problem!

[2019-10-23 08:14] #865 closed

[2019-10-25 07:15] emahuni opened #898 "The graphql examples are tooo repetitive"
I am not sure if there is something I am missing, but I think there is just too much repetition with this code.

[code]

where as the same is defined elsewhere (which I actually prefer) in the `schema.prisma` file:

[code]

Can't this example or the framework generate this Nexus code itself and provide a way to give it resolvers instead of repeating things like this. I can imagine when a change is

[2019-10-28 17:24] matthewmueller commented on #898
@jasonkuhrt do you mind replying? :-)

[2019-10-28 20:55] jasonkuhrt commented on #898
Hey @emahuni I think this is a dupe of https://github.com/prisma-labs/nexus-prisma/issues/299. Your input over there is more than welcome 👍

[2019-10-28 20:55] #898 closed

[2019-10-29 06:00] emahuni commented on #898
ok sure thanks

[2019-10-29 10:08] soullivaneuh opened #905 "Sapper / Polka example"
Is it possible to have a Sapper / Polka setup Prisma2 example?

See: https://sapper.svelte.dev/

[2019-10-30 07:46] martonlanga commented on #742
Hey @divyenduz, would it be possible to deploy the `graphql-auth` example with `photon.js` to the zeit platform?

[2019-10-30 08:59] janpio commented on #742
Best open an issue over at https://github.com/prisma/prisma2 @martonlanga Thanks.

[2019-10-31 11:40] lvauvillier opened #916 "Docker example build fail due to POSTGRESQL_URL environment variable"
in docker example, `Step 9/13 : RUN prisma2 generate` fails.

I have the following error:

[code]

why url is needed at build time?

[2019-11-12 20:26] darknoon opened #968 "Typescript errors in fresh graphql-auth example"
I am trying to evaluate prisma2 for a data model and having trouble getting started. The example project has a typescript error. Deleting those lines broke the app.

I created the example with npx, you can check the logs below:

<details>
<summary>console log</summary>

[code]

</details>
<img width="483" alt="Screen Shot 2019-11-12 at 15 21 43" src="https://user-images.githubusercontent.com/35554

[2019-11-13 16:13] AlexandruSerban142 commented on #968
I can confirm this issue, a solution would be very nice.

[2019-11-13 16:57] AlexandruSerban142 opened #971 "Photon Typescript not working properly"
In the examples, if you use in a resolver ctx.photon. you don't get autosuggesions about the models you have available in schema.prisma. I suppose the problem is comming from the typegenAutoConfig in makeSchema, but I don't know how to solve it. A solution would be greatly appreciated.

[2019-11-14 13:14] dizzyn opened #974 "Typescript demo - Build not working"
In the examples the demo "graphql-apollo-server" can not be builded.

- pull the demo
- `npm install`
- `npx prisma2 dev`
- `npm rund build` <== return errors:

[code]

(`npm run dev` works fine)

Thank You

[2019-11-15 18:15] izio38 commented on #968
Exacly same error here. Any workaround on this?

Prisma2 version: `prisma2@2.0.0-preview016.2`

[2019-11-16 06:17] smartnet-club opened #980 "graphql-auth build failed"
build failed with @prisma/photon@0.2.177
(works well with @prisma/photon@0.2.170)

node_modules/nexus-prisma/dist/dmmf/transformer.d.ts:2:22 - error TS7016: Could not find a declaration file for module '@prisma/photon'. './server/node_modules/@prisma/photon/index.j
s' implicitly has an 'any' type.
  Try `npm install @types/prisma__photon` if it exists or add a new declaration (.d.ts) file containi

[2019-11-16 13:26] FrancoisVeauvy commented on #980
I have a similar issue.

[2019-11-18 03:42] guog commented on #968
I have a similar issue.

[2019-11-20 16:09] YouWillBe commented on #974
![image](https://user-images.githubusercontent.com/16474244/69255501-e4646f80-0bf2-11ea-8bb0-c1a921638689.png)
It seems to be the same problem

[2019-11-20 21:59] #860 closed

[2019-11-25 00:02] Albert-Gao opened #1024 "Error: Cannot find module '@prisma/photon' For Prisma 2 Typescript examples"
Just `git clone` the latest `prisma-examples`

Go to `typescript/graphql-auth` or `graphql-apollo-server`,

run `npm i`

## Round 1

error:

[code]

In https://github.com/prisma/photonjs/issues/56 , it mentioned
 https://github.com/prisma/photonjs/pull/143 should fix it, I saw that merge, and there is no output in this `schema.prisma`, but still not working.

I already global installed `prisma2`.

[2019-11-25 10:23] timsuchanek commented on #1024
Thanks @Albert-Gao! Which branch of the examples are you on?

[2019-11-25 10:57] Albert-Gao commented on #1024
`prisma2` branch:

I use this command from the doc: `git clone --single-branch --branch prisma2 git@github.com:prisma/prisma-examples.git`

I don't know if I get it working or not:

1. I added `@prisma/photon` to the dep, and align its version with `prisma2` in the devDep
1. The generate command will give a warning like: `GraphQL Nexus: Unable to find file or module @generated/photon, skipping`
1.

[2019-11-25 16:05] nikolasburk commented on #1024
Hey @Albert-Gao, it seems this was a versioning issue where there version of `nexus-prisma` in the example was already updated to work with the [latest version](https://github.com/prisma/prisma2/releases/tag/2.0.0-preview017) of Photon.js (which we only released today).

With the new version out, everything should work as expected. I'm closing this issue, but definitely feel free to reopen it if y

[2019-11-25 16:05] #1024 closed

[2019-11-26 09:43] martonlanga commented on #980
Installing this version of nexus somehow works for me:
`"nexus": "0.12.0-beta.14"`

[2019-11-26 09:43] martonlanga commented on #974
Installing this version of nexus somehow works for me:
"nexus": "0.12.0-beta.14"

[2019-11-26 13:45] martonlanga commented on #974
Newest version that's working for me is: `0.12.0-rc.3`, but now I get a TS error saying that the plugin is incompatible in `makeSchema`:
[code]

[2019-11-26 15:57] darknoon commented on #968
Just saw this thread on the slack, going to see if it fixes it
https://prisma.slack.com/archives/CKQTGR6T0/p1574760612437600?thread_ts=1574719609.430200&cid=CKQTGR6T0

[2019-11-26 16:00] darknoon commented on #968
Yes! That works for me, just add this block to your `schema.ts`:

[code]

[2019-11-27 08:37] darrylyoung commented on #968
Thanks, @darknoon. That works for me, too. 👍

[2019-11-27 08:38] nikolasburk commented on #968
Thanks for sharing the solution @darknoon 🙌 I'll close this issue and we'll update the examples today!

[2019-11-27 08:38] #968 closed

[2019-11-27 09:24] nikolasburk commented on #980
Hey @smartnet-club 👋 thanks a lot for opening this issue, this should be fixed now. Feel free to reopen the issue if you're still seeing the error 🙂

[2019-11-27 09:24] #980 closed

[2019-11-27 09:35] nikolasburk commented on #974
Hey @dizzyn and @martonlanga, this should be fixed now! Please try again if this was fixed with the latest changes for you as well and feel free to reopen the issue if the errors are still there 🙂 🙏

[2019-11-27 09:35] #974 closed

[2019-11-27 09:37] nikolasburk commented on #971
Hey @AlexandruSerban142, thanks a lot for opening this issue. The problem should be fixed now, feel free to reopen the issues if you still don't see the autocompletion 🙂

[2019-11-27 09:37] #971 closed

[2019-11-27 09:43] nikolasburk commented on #916
Hey @lvauvillier 👋 thanks a lot for opening this issue and apologies for the delay. The error seems to suggest that the `POSTGRESQL_URL` environment variables hasn't been set. Can you confirm that the error still persists even if the environment variable is set? You can try this:

[code]

You'll need to replace the placeholders that are spelled in uppercase letters with your own DB connection deta

[2019-11-27 10:04] nikolasburk commented on #916
Actually I just tried this myself and even when the env var is set it indeed didn't get picked up by Docker... I also tried adjusting the `run` command in the `Makefile` to add the env var there manually using:

[code]

We'll look into this soon!

[2019-11-27 10:19] nikolasburk commented on #826
Thanks a lot for opening this issue @imVinayPandya 🙌 this should now be fixed, feel free to reopen the issue if it still doesn't work for you.

[2019-11-27 10:19] #826 closed

[2019-11-27 10:24] nikolasburk commented on #805
Hey @gHashTag, thanks a lot for opening this issue and apologies for the delay! Unfortunately we don't have the capacity at the moment to maintain the examples for Prisma 1 (since we're focusing all our resources on the development of the new Prisma Framework, more info [here](https://github.com/prisma/prisma/issues/4898)).

I'll leave the issue open as long as the error persists, feel free to clo

[2019-11-27 10:38] gHashTag commented on #805
@nikolasburk Thank you I switched to AWS Amplify, which is very pleased.

[2019-11-27 10:38] #805 closed

[2019-11-27 10:42] nikolasburk commented on #567
Hey @jhalborg, apologies for the huge delay on this 🙏  this actually seems like a question about Neuxs and Shield rather than an issue with the specific example (at least that's my interpretation 😅). Do you mind reposting your question in the `nexus` and `graphql-shield` repos since that should probably be answered by the repo owners?

[2019-11-27 10:43] nikolasburk commented on #544
We won't fix this because [Prisma 1 is only in maintenance mode](https://github.com/prisma/prisma/issues/4898).

[2019-11-27 10:43] #544 closed

[2019-11-27 11:14] jhalborg commented on #567
Hey @nikolasburk - Sorry, I totally forgot about this. After some more research, I found [this discussion](https://github.com/graphql/graphql-spec/issues/163) in the `graphql-spec` repo. It seems this is not a viable path for now, so I'll close this issue

[2019-11-27 11:14] #567 closed

[2019-11-27 11:15] nikolasburk commented on #567
Great, thanks a lot! 🙏

[2019-11-27 12:03] martonlanga commented on #974
Thanks @nikolasburk, it works now! Specifying `outputs` in `makeSchema` & generating did it 🙃

[2019-12-02 05:26] lasharela opened #1069 "prisma2 generate default directory"
I'm trying to deploy `examples/javascript/graphql-auth` to Heroku.

the question is how to generate `src/generate` files.

And is this directory `src/generate` just old artifact?
Should I use `prisma2 generate` or `nexus-prisma` also?

I'm a little bit confused.

[2019-12-04 17:12] lvauvillier commented on #916
Hi @nikolasburk, the -e option is used to set environment variables only when running the container.
The error raises when I try to build the container. A workaround is to add `ENV POSTGRESQL_URL ""` in the dockerfile.

I don't understand why prisma needs this env var to generate the client in the postinstall script...

[2019-12-04 17:27] nikolasburk commented on #916
The error raises when I try to build the image. A workaround is to add ENV POSTGRESQL_URL "" in the dockerfile.

Ha, thanks for the clarification! 🙏

It's needed because the DB connection string must be included in the generated Photon.js code, so it needs to be there at generation time. Does that make sense?

[2019-12-04 17:53] lvauvillier commented on #916
Yes, of course, it makes sense. But at this point, (build time) there is no need to evaluate the variable, no ?

The workaround works with an empty string. I think prisma doesn't need to know the value of the environment var to generate the client. It just needs to know that the final value will be provided thought this variable.

[2019-12-20 11:38] tvvignesh commented on #916
Hi. Faced the same issue even on my end today. Was trying to get Photon running on Docker. It makes sense to include the url if the db is being introspected to generate code, but my guess is that, its not (that's something lift does as I understand).

So, it can just be replaced in the generated code without evaluating the value thus not needing the value of db connection at build time. Hope it ma

[2019-12-20 14:26] tvvignesh commented on #916
My current workaround was not to run `prisma2 generate` in the Dockerfile but do it in the machine then checkin to source control along with it, so that the `prisma2 generate` command is never run on the server thus not requiring the env. After the container starts, photon will use the env I passed at run time.

[2019-12-21 04:56] rakeshrana15 opened #1203 "prisma2 init error with sqlite on windows"
encountered error while executing prisma2 init with sqlite db on windows.
![prisma2 init error](https://user-images.githubusercontent.com/20044916/71303254-4542bb80-23dc-11ea-851b-00e3e813143a.png)

[2019-12-21 05:02] rakeshrana15 opened #1204 "prisma2 introspection failed -windows"
encountered prisma2 introspection failed error with mysql db on windows.

Schema parsing
error: Error validating model "profile": Each model must have exactly one id criteria. Either mark a single field with `
@id` or add a multi field id criterion with `@@id([])` to the model.
  -->  schema.prisma:18
![prisma2 introspection failed](https://user-images.githubusercontent.com/20044916/71303315-1842d

[2019-12-21 08:09] rakeshrana15 opened #1205 "prisma2 migration failed-mysql"
Migration failed  after running prisma2 dev command.

************************************************************
This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). The promise rejected with the reason:
Error: kill ESRCH
    at process.kill (internal/process/per_thread.js:189:13)
    at C:\User

[2019-12-21 11:36] rakeshrana15 opened #1206 "prisma2 dev failed with sqlite database"
Prisma2 dev failed with sqlite database on windows

Error: Command failed with exit code 255: C:\Users\krakes\AppData\Roaming\npm\node_modules\prisma2\migration-engine.exe cli --datasource sqlite:// --create_database

![prisma2 dev error](https://user-images.githubusercontent.com/20044916/71307412-ffa1e500-2413-11ea-8b7c-6b173ced649c.png)

[2019-12-21 12:01] #1204 closed

[2019-12-21 18:12] janpio commented on #1204
Issue can now be found at https://github.com/prisma/prisma2/issues/1203

[2019-12-21 18:12] janpio commented on #1206
Duplicate of https://github.com/prisma/prisma2/issues/1201

[2019-12-21 18:12] #1206 closed

[2019-12-21 18:12] janpio commented on #1205
Duplicate of https://github.com/prisma/prisma2/issues/1202

[2019-12-21 18:12] #1205 closed

[2019-12-30 17:47] GolfredoPerezFernandez opened #1216 "The current connector does not support lists of primitive types"
Hello! this is my schema:

datasource db {
  provider = "sqlite"
  url      = "file:dev.db"
  default  = true
}

generator photon {
  provider = "photonjs"
}

model Post {
  id        String   @default(cuid()) @id
  createdAt DateTime @default(now())
  updatedAt DateTime @updatedAt
  published Boolean @default(true)
  title     String
  content   String?
  author    User?
  dataType String
  mater

[2019-12-30 21:15] batFormat commented on #1069
@lasharela
The same problem, when changing my scheme, files in this `src/generated` directory are not generated.
Do you have a solution?

[2020-01-03 10:01] dmzza opened #1219 "TypeScript/GraphQL example includes workaround for a closed issue"
https://github.com/prisma/prisma-examples/blob/926fcf81207ae5f172f0ba52d9863fcc58ea3852/typescript/graphql/tsconfig.json#L12

Shouldn't this be `false` now that the related issue https://github.com/prisma/nexus-prisma/issues/82 has been fixed?

[2020-01-03 13:53] janpio commented on #1219
Ping @jasonkuhrt @Weakky

[2020-01-03 14:01] jasonkuhrt commented on #1219
It should be ok to remove now. Feel free to open a PR

[2020-01-06 01:12] lglie opened #1230 "Time when PRISMA 2 supports golang language?"

[2020-01-25 13:01] jjangga0214 opened #1371 "License"
May I ask what license is applied to this repo?

[2020-01-27 12:03] nikolasburk opened #1376 "graphql-auth examples have issues with permissions"
For example, when you create a new user and use their token to create a new post that you immediately want to punlish afterwards, you get a `Not authorised` error although this should work. This currently happens both in the JS and TS version of the example.

[2020-01-30 15:08] nikolasburk opened #1389 "Dev DBs have wrong type for foreihn key author"
Currently the `dev.db` DBs with dummy data have `TEXT` as the `author` field which is wrong, it should be `INTEGER`.

[2020-02-02 01:57] hatchli opened #1397 "Update Photon to Prisma Client in example docs"
I'm attempting to deploy the Javascript GraphQL Apollo Server [example ](https://github.com/prisma/prisma-examples/tree/prisma2/typescript/graphql-apollo-server)to Zeit Now. The [documentation ](https://github.com/prisma/prisma-examples/tree/prisma2/deployment-platforms/zeit-now) for deployment currently refers to Photon.

I simply want to access the deployed GraphQL playground. What exactly would

[2020-02-02 15:49] Aperrix opened #1395 "Build a REST API with Prisma client and Fastify"
Hi everyone !

I didn't find API example with another framework than [Express](https://expressjs.com/). But as you all know [Express](https://expressjs.com/) is old and slow.

So i did a boilerplate with **[Fastify](https://www.fastify.io/)** for you. :heart:

https://github.com/Aperrix/prisma2-fastify

Enjoy !

[2020-02-03 09:41] pantharshit00 commented on #1397
Hi @hatchli,

Thanks for reporting this. I would like to keep this open and refer to this as a docs issue.

[2020-02-10 10:30] Jolg42 opened #1410 "Remove `schema.backup.prisma`"
@nikolasburk It was removed from current alpha with https://github.com/prisma/prisma2/issues/1369

So this will need to be updated for next preview :)

[2020-02-11 20:19] church86 opened #1419 "Finding"
The delete messages

[2020-02-11 20:19] church86 opened #1420 "How to find them"
The delete messages

[2020-02-12 05:53] steebchen opened #1423 "Create project-specific .gitignore files"
I think we should have a ready to use .gitignore files in each project, so `node_modules` are automatically ignored when the user clones the repo and `cd`s into a project. That also allows us to ignore project-specific generated files in our repository and it will behave the same way when a user uses an example to start a project of their own.

[2020-02-12 05:55] steebchen opened #1424 "Ignore and remove generated nexus files"
The following directory looks like generated code:

https://github.com/prisma/prisma-examples/tree/prisma2/typescript/graphql/src/generated

We should ignore that using a .gitignore file and remove the folder from git unless we have a reason to commit this to VCS.

[2020-02-12 08:34] Jolg42 commented on #1423
👍

[2020-02-14 21:20] matthewmueller commented on #1425
Isn't this actually a Niko this? `.vscode/` is a folder in the `examples/`

[2020-02-14 22:57] janpio commented on #1425
Yep, pattern matching "VSCode" led to wrong assignments. Fixed.

[2020-02-17 09:20] nikolasburk commented on #1410
Removed this from examples: https://github.com/prisma/prisma-examples/pull/1432

Also added a warning in the docs that the current Prisma schema file will be overridden: https://github.com/prisma/prisma2/pull/1569/files#diff-f29e2e5e999408f11b36aaad1550b2f4

[2020-02-17 09:20] #1410 closed

[2020-02-17 09:27] nikolasburk commented on #1424
I don't have a super strong opinion on this, but here are a few thoughts why I think it's useful to keep the files:

- `schema.graphql` is a helpful file for people to see at a glance what the GraphQL schema of the example looks like (they don't even need to download an example but can already see this on GitHub). IMO an SDL- version of the GraphQL schema generally belongs into VCS.
- Regarding th

[2020-02-17 09:31] steebchen commented on #1424
I see your point and the ad, but I think that generated code should not be committed into VCS, because it messes up git (diffs, PRs, commit sizes, it's easy to get generated files out of sync etc.). @prisma/client is also not committed into VCS, so I think neither should generated nexus files. I think we may even have the same generated code like @prisma/client, so we could generate code to @nexus

[2020-02-17 13:17] jasonkuhrt commented on #1424
From a framework perspective the generated typings are invisible. We will have a mode in the framework for generating the SDL and some teams will commit it so that PRs can use the diff to as declaratively as possible see the API diff. I also don’t have a strong opinion for these examples. They sit under the framework so users might want the maximum verbose details  here anyways, low level people e

[2020-02-18 08:18] steebchen opened #1437 "Follow best practices for Docker"
Our [Dockerfile](https://github.com/prisma/prisma-examples/blob/prisma2/deployment-platforms/docker/Dockerfile) for our docker example seems a bit hacky and outdated. I'd like to update this file to follow best practices.

[2020-02-18 09:02] steebchen opened #1438 "Update GCP functions example"
We have made new discoveries in e2e land, so this example needs to be updated as well.

https://github.com/prisma/prisma2-e2e-tests/pull/65
https://github.com/prisma/prisma2-e2e-tests/pull/22

[2020-02-18 09:06] steebchen opened #1439 "Set up basic tests in CI"
We should make sure our examples have small basic tests to make sure they compile and are runnable. This should be as minimal as possible, since we already cover testing various tools in https://github.com/prisma/prisma2-e2e-tests.

[2020-02-18 09:53] janpio opened #1440 "Clean up issues, pull requests and branches"
There quite a few branches, Pull Requests and issues open for prisma-examples:

https://github.com/prisma/prisma-examples/issues
https://github.com/prisma/prisma-examples/pulls
https://github.com/prisma/prisma-examples/branches/all?page=1

It would be great if those could be cleaned up more.

[2020-02-19 10:53] nikolasburk commented on #1425
Added via https://github.com/prisma/prisma-examples/pull/1457

[2020-02-19 10:53] #1425 closed

[2020-02-19 13:30] nikolasburk commented on #1424
I generally agree but I think in the context of the examples the size is manageable and the educational value IMO _slightly_ overweighs the problems. So, I'd opt for just keeping them (if we decide to at some point generate the typings into `node_modules/@nexus` then we of course remove the files). Agree?

[2020-02-19 14:14] jasonkuhrt commented on #1424
@nikolasburk Is your vision to keep `@nexus/schema` examples? I think we should remove all but one once we feel `nexus` the framework is ready enough to be a replacement.

[2020-02-19 14:26] nikolasburk commented on #1424
Good question, we'll definitely add Nexus examples of the new Nexus. I think it _might_ still be useful for people to see examples of just `@nexus/schema` with Prisma as well, but not sure, could also be confusing for folks who now aren't sure which one to use and what the difference is...

[2020-02-19 16:34] steebchen commented on #1439
related https://github.com/prisma/prisma2/issues/1572

[2020-02-20 06:29] steebchen commented on #1424
@nikolasburk I'd like to re-visit this. While your intention is good and I agree with your reasoning, the reality is different. Since we often change things in Prisma or Nexus, it often affects generated code. If you clone the example now and generate locally again, you'll see quite a difference in the latest generated code. So either we'll need to automate this using CI, or I still suggest that w

[2020-02-20 06:52] steebchen commented on #1397
This is true for most examples, we still use `photonjs` there. This should be updated ASAP.

[2020-02-20 08:15] nikolasburk commented on #1397
Just added a note about that to the README. Right now only the `javascript` and `typescript` examples are expected to work. The rest is indeed outdated and should be cleaned up eventually.

[2020-02-20 08:44] nikolasburk commented on #1424
That's a fair point! _Ideally_ I'd love to automate this via CI indeed but I guess this is too much effort right now?!

However, I'd propose to still keep the generated GraphQL schema in VCS and just ignore the generated typings. For that, let's adjust the path to which the files are generated:

[code]

I think that feels a little bit odd as well, but I do want to keep the GraphQL schema in VCS so

[2020-02-20 09:19] nikolasburk opened #1476 "TypeScript examples don't compile with `tsc`"
Currently, the `typescript/graphql-auth` example works when following the instructions from the README:

[code]

This starts the server as expected and you can send queries to it.

However, when compiling with `tsc`, it fails:

[code]

We should:

- [ ] check whether this happens also for other TS examples
- [ ] fix the errors in `typescript/graphql-auth` and any others we find

[2020-02-20 18:24] janpio commented on #1397
Can we just create a branch of the current state, and then delete them from the main branch? No need to confuse people.

[2020-02-21 07:45] steebchen opened #1484 "typescript/graphql-sdl-first: post.author is not working"
Related to https://github.com/prisma/prisma-client-js/issues/513

For the following GraphQL query:

[code]

I'm getting this error:

[code]

reproduction available at https://github.com/prisma/prisma-examples/tree/prisma2/typescript/graphql-sdl-first:

[code]

[2020-02-21 08:16] steebchen commented on #1476
This also happens in `typescript/graphql-sdl-first`

[2020-02-21 08:21] steebchen commented on #1476
I think to prevent this in the future for all projects, we should just use `tsc` to transpile Typescript code and call `node dist/server.js` or whatever in the npm script.

[2020-02-21 08:29] steebchen opened #1482 "Sourcemaps are rendering incorrectly"
I'm not quite sure but it seems ts-node produces weird and wrong error stack traces:

<img width="504" alt="image" src="https://user-images.githubusercontent.com/5013932/75016278-343a2780-54bd-11ea-9ddd-29d88317297a.png">

When compiling code with `tsc`

<img width="503" alt="image" src="https://user-images.githubusercontent.com/5013932/75016354-63e92f80-54bd-11ea-9d79-9ad5097dbb45.png">

We shoul

[2020-02-21 08:40] steebchen opened #1483 "Unclear rust error"
Note: This bug report is just about the fact that the error message reports "PANIC" and the user needs to set `DEBUG=*`, not about the actual error.

[code]

With `DEBUG=*`:

[code]

reproduction available at https://github.com/prisma/prisma-examples/tree/prisma2/typescript/graphql-sdl-first:

[code]

[2020-02-21 08:55] nikolasburk commented on #1420
Hey @church86, thanks a lot for opening this issue. Could you be a bit more specific as to what you're looking for? What "delete messages" do you ned?

[2020-02-21 08:55] nikolasburk commented on #1419
Closing this as a duplicate of #1420

[2020-02-21 08:55] #1419 closed

[2020-02-21 09:17] #1389 closed

[2020-02-21 09:18] nikolasburk commented on #1484
This was the same issue as: https://github.com/prisma/prisma-examples/issues/1389 Now fixed ✅

[2020-02-21 09:18] #1484 closed

[2020-02-21 09:19] nikolasburk commented on #1476
Yeah, it probably happens in a most TX examples I could imagine since we never tested for that...

[2020-02-21 11:35] #1423 closed

[2020-02-21 14:05] steebchen opened #1496 "Create an alpha branch where Prisma alpha releases are tested"
With the upcoming CI for prisma-examples, we would still only test preview releases, since the example use the latest npm tag. We still want our users to start with a stable Prisma release, so we also don’t want to switch to alpha releases. To solve both points, we could create an alpha branch where alpha Prisma versions are tested so we get notified in advance if anything breaks, and the default

[2020-02-21 14:32] steebchen commented on #1371
This repository is now licensed under Apache 2 via 91fc39a.

[2020-02-21 14:32] #1371 closed

[2020-02-21 16:17] steebchen commented on #1476
We should fix that ASAP because a lot of users will encounters errors in their IDE as well:

<img width="621" alt="image" src="https://user-images.githubusercontent.com/5013932/75051289-2d80d400-5500-11ea-9c91-b8c2136884a5.png">

[2020-02-25 08:29] nikolasburk opened #1517 "Remove top-level async function in TS script examples"
TS now supports top-level await: https://twitter.com/typescript/status/1230629807991341058?s=12

We should consider removing the top-level `async main` function in the TS script example.

![image](https://user-images.githubusercontent.com/4058327/75228906-31874d00-57b1-11ea-8a68-20dc650a96de.png)

[2020-02-25 09:16] #1439 closed

[2020-02-25 09:21] nikolasburk commented on #199
Closing this as we have gRPC examples for both JS and TS already.

[2020-02-25 09:21] #199 closed

[2020-02-25 09:32] nikolasburk commented on #1420
Hey @church86, I'll close this issue for now! Feel free to reopen it with more information if you still have the same question 👍

[2020-02-25 09:32] #1420 closed

[2020-02-25 09:33] nikolasburk commented on #293
I don't think that this is currently possible with Prisma 2 since we don't support AppSync as a data source. Let's keep these examples in mind for when we have an appropriate connector, closing this for now 👍

[2020-02-25 09:33] #293 closed

[2020-02-25 09:43] nikolasburk commented on #1069
Hey @lasharela, thanks a lot for opening this issue. Were you able to resolve this?

[2020-02-25 09:45] nikolasburk commented on #1437
Note: I've adjusted this issue's title to reflect that the Docker examples is currently broken and that it needs to be cleaned up. I'll therefore close these two issues as duplicates:

- https://github.com/prisma/prisma-examples/issues/916
- https://github.com/prisma/prisma-examples/issues/844

[2020-02-25 09:45] nikolasburk commented on #844
Thanks a lot for opening this issue @haysclark 🙏

We'll be fixing the Docker example soon, I created another issue to track this here: https://github.com/prisma/prisma-examples/issues/1437

[2020-02-25 09:45] #844 closed

[2020-02-25 09:46] nikolasburk commented on #916
Thanks a lot for opening this issue @lvauvillier  🙏

We'll be fixing the Docker example soon, we created another issue to track this here: https://github.com/prisma/prisma-examples/issues/1437

[2020-02-25 09:46] #916 closed

[2020-02-25 09:47] nikolasburk commented on #1219
Thanks a lot for opening this issue David (and sorry for the delay!). We've adjusted all tsconfig.json files ✅ https://github.com/prisma/prisma-examples/blob/prisma2/typescript/graphql/tsconfig.json

[2020-02-25 09:47] #1219 closed

[2020-02-25 10:06] nikolasburk commented on #1424
Adjusted via: https://github.com/prisma/prisma-examples/commit/dace5858e050977737ef3879e3404c78427581d1

[2020-02-25 10:06] #1424 closed

[2020-02-25 10:09] nikolasburk commented on #1440
Thanks Jan! Just clean up PRs, branches and issues. All the open issues are valid and need to be looked into (none of them seem to be urgent though).

[2020-02-25 10:09] #1440 closed

[2020-02-25 11:37] willy20040711 opened #1524 "graphql-apollo-server JS example error : can't npm run dev"
I follow the guideline and complete the step of "npx prisma2 introspect" &  "npx prisma2 generate".

I reproduce this error in both two situations.
1. add the profile schema in "graphql-apollo-server JS example".
2. when I try to connect to our own mysql database.

DB: mysql
node version: 12.0.0
prisma2:2.0.0-preview022

Then, I got below error..
[code]
My schema.js:
[code]

[2020-02-25 21:04] janpio commented on #1439
Not discussion about individual checks vs. 1 big check here: https://github.com/prisma/prisma-examples/pull/1487#issuecomment-590515371 + https://github.com/prisma/prisma-examples/pull/1487#issuecomment-590721191

[2020-02-26 03:41] Smackzter commented on #1476
doing `npm run build` also spits out the same errors. I'm new to prisma and nexus, but initially I thought this issue related to different behaviour between tsc and ts-node, but the build script *should* be running ts-node. Are the examples just broken? Would love to get started, but it's a bit difficult with the not-human-friendly errors and the examples not working :)

[2020-02-27 07:05] steebchen opened #1538 "Move libraries from e2e tests to examples"
As discussed internally, libraries should be polished and go into examples and removed from the e2e tests.

- [x] express
- [x] apollo-server
- [x] type-graphql via #1541

[2020-02-27 07:07] steebchen opened #1539 "Add NuxtJS example"
From our internal notion doc, the devrel team wants to have a NuxtJS example. Since it was initially planned to go into the e2e repo, I already have a template locally so if anyone else than me gets this task assigned, I can provide a basic starter project.

[2020-02-27 12:52] steebchen opened #1541 "Move TypeGraphQL example from e2e"
We have a [type-graphql project in e2e tests](https://github.com/prisma/prisma2-e2e-tests/tree/master/libraries/type-graphql) that we should move to prisma-examples.

todo list
- [ ] Use the same GraphQL schema which is used in other examples

[2020-02-27 19:08] ajmajma opened #1543 "graphql-nextjs: Can't write schema.graphql to file system (Error: EACCES: permission denied, open '/schema.graphql')"
Hey all,

Trying to fool around with the graphql-nextjs example to get myself acquainted - but I am seeing  problems in the console. In the console I am seeing

[code]

This is a fresh install as of today. Using node 13.7.0 if this helps.

[2020-02-28 12:22] nikolasburk commented on #1424
Just for completeness, I just stumbled accross this in the[ Nexus docs](https://nexus.js.org/docs/getting-started):

![image](https://user-images.githubusercontent.com/4058327/75548323-4f60e600-5a2d-11ea-87c6-9a0134d5b19f.png)

[2020-02-28 15:37] namiomiru opened #1545 "prisma-examples graphql-nextjs error ..."
error after npm install
Is there a way to fix this?

![image](https://user-images.githubusercontent.com/34525483/75562186-849c2100-5a8b-11ea-8df4-caab91c2f378.png)
![image](https://user-images.githubusercontent.com/34525483/75562212-8fef4c80-5a8b-11ea-93a9-d1e0d3ffbcc8.png)
![image](https://user-images.githubusercontent.com/34525483/75562259-a3021c80-5a8b-11ea-96a8-28ad3cb2cc6f.png)

[2020-02-28 15:51] nikolasburk commented on #1476
TODOs:

- [ ] script
- [ ] graphql
- [ ] graphql-apollo-server
- [ ] graphql-sdl-first
- [ ] graphql-auth
- [ ] rest-express
- [ ] grpc

[2020-02-28 16:01] #1476 closed

[2020-02-28 16:11] nikolasburk commented on #1543
Hey @ajmajma, thanks a lot for opening this issue. I just checked and the error doesn't seem problematic. For some reason Nexus isn't able to write the `schema.graphql` file to the file system.

I changed the title of this issue to reflect that.

[2020-02-28 16:48] ajmajma commented on #1543
Hey @nikolasburk  thanks for updating this. I don't know if this is related but the `generate:nexus` seems to also be breaking. When I try to run it, the console is giving me :

[code]

[2020-03-02 09:26] nikolasburk commented on #1517
I couldn't get this to work while exploring this, here's what I tried:

1. Simply remove the `main` function from the `typescript/script` example
    - Top-level `await` doesn't work
1. TS release notes say this only works in a module, so added `export {}` to the end of the file
    - Top-level `await` still doesn't work
1. Adjust tsconfig to add (as explained in the docs):
[code]
    - Top-level

[2020-03-02 15:00] schickling commented on #1517
Related: https://github.com/prisma/prisma-client-js/issues/540

[2020-03-02 19:33] JorgeCeja commented on #1543
The problem is with `"module"` from tsconfig.json. If you switch from `"module":"esnext"` to `"module": "commonjs"` the issue is fixed. However, nextjs requires esnext for dynamic import() support.

This is just a workaround, it'll be great to find a solution that works for both nextjs and nexus.

P.S. I'm also running into 'Error: EACCES: permission denied, open '/schema.graphql'' issue with node

[2020-03-03 19:03] steebchen commented on #1496
Implemented via 4fe986dccd307cebbf7ea215208c62a2168a8a39

[2020-03-03 19:03] #1496 closed

[2020-03-05 01:40] namiomiru opened #1587 "I want to know how to use playground (prisma-examples graphql-nextjs)"
How can I use playgraound with graphql-nextjs?
I need help

[2020-03-05 21:42] catalinmiron commented on #1545
Add the following to `makeSchema({})`

[code]

[code]

[2020-03-06 06:08] namiomiru commented on #1545
I tried your code but got the same error.
ㅠ.ㅠ

[2020-03-06 07:35] catalinmiron commented on #1545
@namiomiru you also need to generate the schema after the changes. Could you please try it and let me know if you can still repro the issue. Thanks!

[2020-03-06 14:24] schickling commented on #293
I was rather thinking of an AppSync example that uses Prisma to implement resolver functions.

[2020-03-07 04:42] namiomiru commented on #1545
after change your code

npm  run generate

 "scripts": {
    "dev": "next",
    "build": "next build",
    "start": "next start",
    "generate": "npm -s run generate:prisma && npm -s run generate:nexus",
    "generate:prisma": "prisma2 generate",
    "generate:nexus": "ts-node --transpile-only pages/api",
 },

the same error ㅠ.ㅠ
What can I try more?
Thank you for always reply

[2020-03-07 05:16] namiomiru commented on #1545
@catalinmiron

after change your code

npm run generate

"scripts": {
"dev": "next",
"build": "next build",
"start": "next start",
"generate": "npm -s run generate:prisma && npm -s run generate:nexus",
"generate:prisma": "prisma2 generate",
"generate:nexus": "ts-node --transpile-only pages/api",
},

the same error ㅠ.ㅠ
What can I try more?
Thank you for always reply

[2020-03-08 17:24] namiomiru commented on #1545
@catalinmiron

Thanks to this I understood and solved it.
There is one more problem. Can you help me?

my code ...

import { idArg, makeSchema, objectType, stringArg, asNexusMethod } from "nexus";
import { GraphQLDate } from "graphql-iso-date";
import { PrismaClient } from "@prisma/client";
import { graphql } from "graphql";
import path from "path";

import { generateToken, generateToken22 } from

[2020-03-09 15:57] namiomiru commented on #1545
@catalinmiron
this I understood and solved it.

[2020-03-10 09:50] cr101 opened #1604 "Add user rules and permissions to typescript/graphql-nextjs"
Please add example that shows how to check that a user has the permission to create/delete a post.

[2020-03-12 16:11] mtltechtemp commented on #1539
@steebchen
Hello, could you send me the starter project ?
That would help me.

Thanks.

[2020-03-17 12:02] nikolasburk opened #1613 "Remove `dom` and add `@types/node` in TS examples"
Context here: https://github.com/prisma/prisma2/pull/1858

[2020-03-19 16:01] nikolasburk opened #1621 "Add `$disconnect()` calls in all examples"
Right now we don't explicitly `disconnect()` in any of the examples except for the `script` ones.

[2020-03-20 07:44] nikolasburk commented on #1397
Followed @janpio's advice and pushed the unmaintained examples to a [new branch](https://github.com/prisma/prisma-examples/tree/deployment-platforms/unmaintained). All other examples have been fixed thanks to the awesome work of @2color  🚀

[2020-03-20 07:44] #1397 closed

[2020-03-20 07:47] nikolasburk commented on #1587
Hey @namiomiru 👋 you should be able to access the Playground via `http://localhost:3000/api` as described [here](https://github.com/prisma/prisma-examples/tree/prisma2/typescript/graphql-nextjs#using-the-graphql-api) 🙂

[2020-03-20 07:47] #1587 closed

[2020-03-20 22:34] brokercl commented on #111
Hi Nikolasburk
I follow your tutorial

https://www.howtographql.com/react-apollo/1-getting-started/

 and it was excellent
but for now I would like to make the same but using flutter
I tried to read users from prisma but until now without any succsees result

thats why I encourage to you to try develop the same but this time using Flutter from Google

I could do this toturial satisfactorily

https

[2020-03-23 22:44] Gomah commented on #1621
@nikolasburk What's the best way to do it?

We currently implemented a middleware to disconnect after the resolve function, is there a better way to do that?

[code]

[2020-03-25 10:44] AmitGutpa opened #1636 "No Support for query operators in prisma 2"
Hi,

I am working with Prisma 2 and I want to query the database to get data greater than a specific date. I did not see anywhere any support for operators in Prisma 2

[2020-03-25 11:51] jukefr opened #1637 "isPostOwner in permissions file for graphql-shield is wrong"
Trying to run the default auth examples result in an error when calling the isPostOwner shield rule.

It currently looks like this
[code]

The problem is that `ctx.prisma.post()` is not a function, I am pretty sure this is a leftover from prisma1 but I just started using prisma and version 2 is the first one I use so I am not sure.
I managed to fix the problem with the following code (after pullin

[2020-03-25 12:15] jukefr commented on #1637
Couldn't tell if `Number()` or `parseInt(x, 10)` is better, I see you use `Number()` mainly in the codebase so tell me if you need me to change it.

[2020-03-26 05:35] nikolasburk commented on #1541
This is done thanks to Daniel! 🚀

[2020-03-26 05:35] #1541 closed

[2020-03-26 05:38] #1538 closed

[2020-03-26 05:40] nikolasburk commented on #1395
Hey @Aperrix, sorry for the huge delay on this one! This actually looks great, do you want to submit this as a PR to this repo? Ideally as JS and TS versions? Would be much appreciated!

[2020-03-26 10:54] #1637 closed

[2020-03-26 18:52] Rezaavoor opened #1640 "node folder not existed when cloning "git@github.com:prisma/prisma-examples.git""
the cloned directory is different than what it should be

[2020-03-27 22:47] createvo commented on #1376
I tried but I don't receive that behaviour of `Not authorised` error, either in TS and JS.

[2020-03-27 23:06] createvo commented on #1524
Hello,
have you tried `t.crud.recipes()` instead of `t.crud.Recipes()`

Anyway, for a model is a good practice to use singular names **Recipe**, and NOT plural names **Recipes**

[2020-03-28 02:09] janpio opened #1648 ".github/scripts/check-for-update.sh: SLACK_WEBHOOK_URL_FAILING: parameter not set"
[code]

For some reason that is not set: https://github.com/prisma/prisma-examples/runs/541043692 although it is really set in the settings.

[2020-03-28 02:30] #1648 closed

[2020-03-28 02:47] janpio opened #1651 "Tests report success, logs show failures (branch `prisma2`, version `preview025`)"
Run https://github.com/prisma/prisma-examples/runs/541066898:

[code]

[code]

[code]

[2020-03-28 02:53] janpio opened #1652 "Tests report success, logs show failures (branch `alpha`, version `alpha.978`)"
Run https://github.com/prisma/prisma-examples/runs/541069700:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2020-03-28 02:58] janpio opened #1653 "Change the way tests are run"
Right now there is only 1 test, that loops through all folders. That is practical, because it makes sure that all examples (= folders) have the proper test configuration that then is run during the test - no one can add a test without it also being tested.

Unfortunately that leads to super busy log output and makes it hard to understand what is going on.

An alternative suggestion: The test start

[2020-03-28 03:35] janpio opened #1654 "typescript/graphql-nextjs does not fail when it fails"
- https://github.com/prisma/prisma-examples/tree/prisma2/typescript/graphql-nextjs
- "Tests" defined in https://github.com/prisma/prisma-examples/blob/prisma2/.github/tests/typescript/graphql-nextjs/run.sh

The tests make 2 http requests. Both return 200, even when outputting an error at the same time. `yarn dev` where the server is running also outputs all kinds of errors while these requests are

[2020-03-28 04:25] janpio opened #1657 "Test/demo scripts should clean up after themselves"
`typescript/script` for examples has a `npm run dev` command that does not clean up after itself, you can only run it once and then need to manually clean up the database (e.g. by manually opening the database and deleting the data or reverting all changes to the file).

[2020-03-28 04:40] janpio opened #1658 "typescript/graphql-nextjs/README is missing information on how to regenerate Nexus"
I am not super sure, but I think if I change the schema more fundamentally I also need to generate the nexus types. Unfortunately this is not mentioned in the README, and the files itself tell me that I should not touch then.

`yarn generate:nexus` does not work unfortunately:
[code]

🤷‍♂

[2020-03-28 04:47] janpio opened #1659 "Tests should report failure if 1 of the tests fails"
Right now Actions reports the tests are succeeding, although they are clearly failing:

https://github.com/prisma/prisma-examples/issues/1652
https://github.com/prisma/prisma-examples/issues/1651

That is dangerous, as one does not really see when stuff goes wrong.

Fundamentally there are 2 problems:
1. All tests are run in one batch, a suggestion to change that is at https://github.com/prisma/pr

[2020-03-28 06:50] steebchen commented on #1653
It's probably a bit tricky to test for if there's a workflow defined for a given file. Definitely possible but we probably need to use a yaml parser to read the workflow files properly and then compare stuff, unless you have a better suggestion.

[2020-03-28 07:07] nikolasburk opened #1660 "Dummy SQLite DBs in Migrate examples"
Currently some examples in the `experimental` directory contain a dummy database called `dev.db` (e.g. [here](https://github.com/prisma/prisma-examples/tree/prisma2/experimental/typescript/script/prisma)). At the same time, the README instructs to get started from scratch with Prisma Migrate commands.

We should fix this in either of these ways:

- remove `dev.db` and have the RADME be the source

[2020-03-28 07:50] steebchen commented on #1659
The problem is within the tests themselves, not in the general test scheme. The errors you see in the log output have different reasons: one unfortunate mistake from me is misunderstanding Promises which is fixed via https://github.com/prisma/prisma-examples/pull/1661; most other errors are more like warnings and don't have any influence. For example, for graphql test, we send a GraphQL request us

[2020-03-28 09:48] mohe2015 commented on #1653
@steebchen Depending on how the workflow files should look you could also write a script that loops through the folders and just generates a workflow for them. So no parsing just regenerating the file every time.

[2020-03-28 15:01] janpio commented on #1659
Right now the situation is that I get a passing workflow. Looking into the output of that, I see all kinds of errors - both real errors and not real errors. In https://github.com/prisma/prisma-examples/issues/1651 the stuff might be cosmetic an what you describe, but https://github.com/prisma/prisma-examples/issues/1652 many tests are really totally broken.

That is what we need to fix.

[2020-03-28 15:02] janpio commented on #1653
Couldn't it be easy enough as checking if there is a matching `run.sh` being called via its own job to each folder? Instead of looping through the folders and executing the `run.sh`, it would just make sure there is a job defined that `sh ...run.sh` that file.

[2020-03-28 15:04] janpio opened #1663 "Make it easier to read test output"
Right now it is one long file with output. It would be nice if there was some visual separation (some empty lines and `########################` or something) to make it easier to visually parse. Also some clear output if a "test" (`run.sh` for 1 folder) succeeded or failed. Test runners do that for a reason ;)

[2020-03-28 18:30] steebchen commented on #1653
(Just to clarify, the script already tests if all projects have a run.sh file, and throws if there's a project without a defined test. It's just doing that in the same single test run.)

So did I understand correctly that you want to have one job ("GitHub check") which makes sure all projects have defined a GH workflow (so that script would read .github/workflows/ yaml files and compare strings et

[2020-03-28 18:48] janpio commented on #1653
Yes, that is probably what I meant (if "Job" and "check" are actually the same thing). Basically this changes the testing setup here from 1 job that checks if all projects have tests first, then runs all of them one after another to 1 job that checks if all projects have a job defined and can fail the build if not, and many individual jobs for all projects.

No, I think just switching over to step

[2020-03-30 16:11] steebchen commented on #1539
@mtltechtemp For now, you can try the project in https://github.com/prisma/prisma2-e2e-tests/tree/feat/frameworks/nuxtjs – but please note that this may be outdated, and that the nuxtjs team is working on features which improve handling APIs etc.)

[2020-03-30 16:15] steebchen commented on #1659
Can this be closed?

[2020-03-31 06:36] yantakus opened #1678 "Prisma generate script throws error"
When I'm trying to run this example: https://github.com/prisma/prisma-examples/tree/master/typescript/graphql-auth

I'm getting the following problem. When running `npm i` I get this error:

[code]

and here is the above mentioned log file contents:

[code]

I tried to remove node_modules and install again with no luck.

Any ideas?

[2020-03-31 12:30] #1652 closed

[2020-03-31 12:54] yantakus commented on #1678
It works fine on my other (windows) computer, so this is definitely something wrong with my working mac. Any help appreciated!

[2020-03-31 20:17] janpio commented on #1678
We recently updated the examples to use `beta.1`. Can you maybe try again if this exists with that version of Prisma?

[2020-03-31 21:49] yantakus commented on #1678
@janpio no luck with the latest version as well. Here is the full log after running `npm i` in `prisma-examples/typescript/graphql-auth` directory: https://gist.github.com/yantakus/5466d99495d6a719435aca23d7f9c8e4

[2020-04-01 06:17] yantakus commented on #1678
I tried to install `@prisma/cli` globally and run `generate` command with no luck as well:

[code]

[2020-04-01 08:24] yantakus commented on #1678
I upgraded node to the latest version (node v13.12.0, npm 6.14.4) and it gave me a better error output:

[code]

So after creating this directory manually it worked fine!

[2020-04-01 21:13] janpio commented on #1678
This is actually a problem we need to look into - I will move the issue to the correct place then. Thanks for giving us an update!

[2020-04-04 21:05] yassinebridi commented on #1543
This is probably obvious,
but as a workaround, i executed yarn dev with sudo privileges.
@JorgeCeja when i change the module to commonjs, the compiler tries to edit the module back to esnext.

[2020-04-04 22:45] alnimra opened #1703 "`prisma introspect` breaking graphql queries"
Hi all,
Issue: `prisma introspect` breaks the `schema.prisma` file.

I went through the typescript/graphql-auth example and ran into this issue on the step of adding the Profile table.

Upon running `prisma introspect` as per the example my `schema.prisma` file looks like this --
[code]

where it should instead look like this as per the example (not adding client & datasource as it doesn't seem re

[2020-04-06 07:50] Edjevw12 commented on #1543
I changed `__dirname` to `process.cwd()` and it worked for me.

`const schema = makeSchema({
  types: [Query, Mutation, User],
  outputs: {
    typegen: process.cwd() + '/pages/api/nexus-typegen.ts',
    schema: process.cwd() + '/pages/api/schema.graphql',
  },
});`

[2020-04-06 07:57] nikolasburk commented on #1543
@Edjevw12 do you mind submitting a PR with this solution 🙂

[2020-04-07 10:45] arnaudjnn commented on #1545
Same error +1

[2020-04-07 18:46] eranimo opened #1708 "Netlify example app"
Can we get an example with Netlify + nexus and nexus-prisma? (i.e. a graphql server in a Netlify function, pointing to Prisma)

[2020-04-09 01:27] rpateld commented on #1587
it return error on link like
`{"errors":[{}]}`

[2020-04-09 07:39] janpio commented on #1587
New link is https://github.com/prisma/prisma-examples/tree/master/typescript/graphql-nextjs#using-the-graphql-api

[2020-04-09 17:46] Sevensidedmarble opened #1717 "Simplify SDL-first example with graphql-import"
Wouldn't it be better to simplify the SDL-first example by using something like https://github.com/ardatan/graphql-import to import the prisma.schema file?

[2020-04-09 22:28] rpateld commented on #1587
This is the link returning error :
![image](https://user-images.githubusercontent.com/56134077/78946148-f0f93f80-7a8f-11ea-8bf2-eef2f16cfae5.png)

[2020-04-09 23:12] rpateld commented on #1587
▸    Couldn’t find `prisma.yml` file. Are you in the right directory?

Get in touch if you need help: https://slack.prisma.io
To get more detailed output, run $ export DEBUG="*"
(node:3519) [DEP0066] DeprecationWarning: OutgoingMessage.prototype._headers is
deprecated

[2020-04-09 23:47] janpio commented on #1587
That sounds like you have an old version of Prisma installed. Best create an issue at prisma/prisma.

[2020-04-10 13:27] ankri commented on #1658
Hi,

I had the same problem with the `gaphql-nextjs` repository. If you're still having the problem try the following:

Create a file `tsconfig.nexus.json`
[code]
Change `__dirname` in [pages/api/index.ts](https://github.com/prisma/prisma-examples/blob/master/typescript/graphql-nextjs/pages/api/index.ts#L177-L178) to `process.cwd()` (for reference #1543)

[code]

and change the `generate:nexus` sc

[2020-04-10 19:03] janpio commented on #1658
I am exactly the right person to give this information to 😸 And thanks, one of my colleagues will hopefully be able to use your information to fix the example.

[2020-04-10 19:09] ankri commented on #1658
Alright, thanks. While they're at it: `ts-node` is missing in `devDependencies`

---

just fyi: I ditched the example because it is not using [`nexus-plugin-prisma`](https://www.nexusjs.org/#/plugins/prisma) And since I didn't get to run that either, I am writing resolvers `ApolloServer` old-school-style

[2020-04-16 08:28] schickling commented on #1517
Related Tweet by @jedmao: https://twitter.com/mrjedmao/status/1250680713038479360

[2020-04-16 08:38] nikolasburk commented on #1517
Just tried to adjust my `tsconfig.json` according to the tweet:

[code]

Even though the options seem to be configured properly, I get red squiggly lines in VS Code:

![image](https://user-images.githubusercontent.com/4058327/79434145-3c4ea900-7fce-11ea-9162-31854571afdc.png)

[code]

Oddly when I run this I get a different error:

[code]

I deleted and re-installed `node_modules` but am still see

[2020-04-16 14:40] jedmao commented on #1517
I had this working yesterday, but somehow it's giving me the red squiggly today 🤷

The error message isn't helpful, as the compiler options are already configured accordingly. Maybe it's a TypeScript issue.

[2020-04-16 19:56] janpio opened #1732 "Notify in Slack channel on `check-for-*-update` failure"
See https://github.com/prisma/prisma2-e2e-tests/issues/316#issuecomment-612113181

[2020-04-17 07:03] timsuchanek commented on #1517
I just tried to get it working with a very basic example without Prisma Client - even that doesn't work with the latest `typescript@next`.

https://github.com/timsuchanek/top-level-await

Do you know of any running TypeScript top-level-await examples out there?

[2020-04-17 14:48] jedmao commented on #1517
This playground appears to work:

https://www.typescriptlang.org/play/index.html#code/IYd2EsBcAIAUCcD2BbcBnApgOnhtiAbANwwAoBKAbgCgMAPAB0XhgG9oBfSoA

[2020-04-18 03:20] brianbancroft opened #1734 "[javascript/graphql-apollo-server]: Unable to start example"
Hi there,

When I attempt to run this pared example [as per this set of directions](https://github.com/prisma/prisma-examples/blob/master/javascript/graphql-apollo-server/README.md), I run into the following error in the command line:
[code]

This also manifests in the GraphQL Playground when I attempt to run _any_ query through the following:

<details><summary>Expand me for graphql response</sum

[2020-04-18 08:12] guledali opened #1735 "How to deploy?"
Add a link in the `readme.md` on how to deploy this https://github.com/prisma/prisma-examples/tree/master/typescript/rest-nextjs example app

[2020-04-18 08:21] #1735 closed

[2020-04-18 18:29] holtc opened #1736 "UserWhereUniqueInput does not have email"
In the `javascript/graphql-apollo-server`, `email` does not appear in `UserWhereUniqueInput` in `generated/nexus.ts`, even though the email field has the `@unique` decorator. This means I can't use `context.prisma.user.findOne({where: { email: 'email@email.com'}})`.  Why isn't this appearing? My `User` model in `schema.prisma` is below:

[code]

[2020-04-18 18:42] #1736 closed

[2020-04-20 15:29] shigurenimo opened #1738 "Firebase functions example app"
I want a sample project using FIrebase functions and TypeScript and nexus/schema

[2020-04-20 15:35] reiwa commented on #1738
I made a sample project for Firebase functions and I tried to use output property of generator to upload prisma/client to Cloud Functions but I don't know how to compile this library.

[code]

When I deploy a directory I get this error message because prisma client library genereated contains `query-engine-darwin` and JS file.

[code]

[2020-04-21 14:16] #1732 closed

[2020-04-22 03:51] schonert commented on #1545
Same here +1

[2020-04-22 09:57] timsuchanek commented on #1517
Update about top-level await: I just talked to Andrew from the TypeScript team, and it looks like it’s not yet what we think it is.

So what [this PR](https://github.com/microsoft/TypeScript/pull/35813/files?file-filters%5B%5D=.js&file-filters%5B%5D=.symbols&file-filters%5B%5D=.ts&file-filters%5B%5D=.txt&file-filters%5B%5D=.types#diff-b0af6bd9d1d8b206a6b9ac13af6deab3R263) just did, is making sure,

[2020-04-22 19:17] jedmao commented on #1517
Finally, demystified!

[2020-04-23 12:33] judehunter opened #1745 "Make the last step of evolving clearer"
For graphql projects, I did not understand how I should get the `schema.ts` graphql nexus file.
Should I write it by hand? Can I generate it from `schema.prisma`? It's unclear.

[2020-04-24 10:29] HendrikJan commented on #1734
I run into the same error (```Missing required typegen import: Context```) on Node 14.0.0
The error message is preceded by another that might contain useful information:

    GraphQL Nexus Typegen: Expected module /data/dist/context.js to be an absolute path to a TypeScript module, skipping.

          🚀 Server ready at: http://localhost:3001
          ⭐️ See sample queries: http://pris.ly/e/ts/gr

[2020-04-24 13:06] nikolasburk opened #1747 "Add Nexus CRUD example"
We should have an example that shows how to expose a full CRUD API for Prisma models using `t.crud`.

[2020-04-25 06:34] josephdburdick opened #1748 "Express example throws on specific routes"
These examples are very helpful in seeing Prisma in action but I found that the Express example didn't resolve any of the default routes with `id` params. It turns out the id from `const { id } = req.params` expects an integer in the defined schema but what it receives a string.

Instead of using object destructuring for `id` it would work if `id` was defined with `parseInt(id)`.

[2020-04-25 23:16] adrianoresende commented on #1069
Try adding a script in package.json
`"heroku-postbuild": "npx prisma generate"`

[2020-04-26 00:26] codingforfoodllc commented on #1545
was anyone able to get these errors to go away?  I tried doing yarn generate and i got a syntax error from a fresh install.

[2020-04-26 10:46] dpyzo0o commented on #1703
I have the same problem with rest-nextjs example. The steps in `Evolving the app` does not seem to work.

[2020-04-26 13:39] gustawdaniel opened #1751 "Can I please update example to nexus 0.20.0?"
https://github.com/prisma/prisma-examples/blob/master/typescript/graphql/package.json

https://developer.aliyun.com/mirror/npm/package/nexus/v/0.20.0

[2020-04-28 10:11] namiomiru opened #1753 "graphql-nextjs file upload?"
How to implement file upload in graphql-nextjs(graphql upload)?

[2020-04-29 00:00] WillGeller commented on #1753
I'm pretty sure that is outside the scope of Prisma, which handles interfacing with the DB. If you are looking for something plug n play try [Google's Firebase Cloud Storage](https://firebase.google.com/products/storage?gclid=CjwKCAjwqJ_1BRBZEiwAv73uwJEsfPDvjgwVr8Vo4kLIWVpGGbrwlhlLJRKWRvyZzmoDflnmlYRJHxoCh28QAvD_BwE), this might be helpful for implementing with NextJs which is React based: https:/

[2020-04-29 00:09] namiomiru commented on #1753
* https://www.npmjs.com/package/graphql-upload

can't you upload it this way?

i tried but it doesn't work.

[2020-04-29 02:07] namiomiru commented on #1753
https://www.npmjs.com/package/graphql-upload
can't you upload it this way?

i tried but it doesn't work.

![image](https://user-images.githubusercontent.com/34525483/80554898-8d688f00-8a09-11ea-8938-5bfe6211c057.png)

![image](https://user-images.githubusercontent.com/34525483/80554912-98232400-8a09-11ea-951e-4909e1b4fe44.png)

![image](https://user-images.githubusercontent.com/34525483/80554916-9

[2020-04-29 08:02] darrylyoung commented on #1747
Yeah, I think that would be really useful, especially for people starting out.

[2020-05-01 16:43] jeffscottward commented on #1545
Same error - GraphQL newby - would help if I could

[2020-05-04 20:23] akshaylive commented on #1543
FWIW, I've created a [PR](https://github.com/prisma/prisma-examples/issues/1543) that fixes this and a few related issues.

[2020-05-05 06:37] nikolasburk commented on #1543
Thanks a lot @akshaylive, the PR is merged 🚀

[2020-05-05 06:37] #1543 closed

[2020-05-11 08:23] thebiglabasky opened #1763 "[typescript/graphql-nextjs] Nexus generate won't work with `esnext` modules in `tsconfig.json`"
When starting a new project using the [graphql-nextjs example](https://github.com/prisma/prisma-examples/tree/master/typescript/graphql-nextjs) as a base, I faced an issue regenerating the Nexus client wouldn’t work, as I was facing `SyntaxError: Cannot use import statement outside a module`.
**I realized that next is changing the `tsconfig.json` modules option to `esnext` (from `commonjs`)**

Usi

[2020-05-11 08:37] nikolasburk commented on #1763
Thanks a lot for opening this issue! I came across the same problem a while ago and created issues in the [`nexus/schema`](https://github.com/graphql-nexus/schema/issues/391) and [`next.js`](https://github.com/zeit/next.js/discussions/10780) repos.

Unfortunately, I'm not yet sure what the best way is to work around this, but some has posted this workaround: https://github.com/graphql-nexus/schema

[2020-05-11 08:42] thebiglabasky commented on #1763
Looks like you already did all the work :)
Thanks, I'll watch for these. Would it be worth to have the workaround implemented in the example (and documented) until this gets fixed?
Happy to put in a PR if you think it's worth it

[2020-05-11 08:47] nikolasburk commented on #1763
Oh a PR would be amazing ❤️

If possible, it would also be great to reference this open issue in a comment in both `tsconfig.json`s so that people know why this approach has been taken. (I believe [it should be possible to have comments in `tsconfig.json` files](https://www.reddit.com/r/typescript/comments/8na5vb/tsconfigjson_isnt_strict_json_what_now/))

[2020-05-11 15:13] janpio opened #1765 "getting started example is still pointing to Beta2, not 4."
https://github.com/prisma/prisma/issues/2359#issuecomment-625784588
+
https://github.com/prisma/prisma/issues/2359#issuecomment-626718963

[2020-05-11 15:26] janpio commented on #1765
Can confirm:

[code]

via command `curl https://codeload.github.com/prisma/prisma-examples/tar.gz/starter -o starter.tar.gz && tar -zxvf starter.tar.gz prisma-examples-starter/typescript/starter && move prisma-examples-starter\typescript\starter starter && rmdir /S /Q prisma-examples-starter && del /Q starter.tar.gz`

[2020-05-11 15:26] janpio commented on #1765
Seems to be a bigger problem: https://github.com/prisma/prisma-examples/search?q=2.0.0-beta.&unscoped_q=2.0.0-beta.

[2020-05-11 15:32] janpio opened #1766 "Examples use outdated versions of Prisma"
https://github.com/prisma/prisma-examples/search?q=2.0.0-beta.&unscoped_q=2.0.0-beta

This should all be Beta 4.

[2020-05-11 16:10] webnoob commented on #1765
Looks like it might be better to specify the versions as `^2.0.0-beta.2` it'll always use latest beta.

[2020-05-11 17:08] janpio commented on #1765
Nah, we want to run tests and make _sure_ it works with the explicit version. We have a whole setup (`master` branch for stable versions, `alpha` branch for unstable ones, GitHub Actions workflows to keep everything updated and running) - it was just broken.

Should now be fixed and all be on Beta 4 as it should be.

[2020-05-11 17:08] #1765 closed

[2020-05-11 17:14] janpio commented on #1766
This is now fixed.

[2020-05-11 17:14] #1766 closed

[2020-05-12 05:56] #1748 closed

[2020-05-12 07:55] nikolasburk opened #1772 "Re-enable tests for `experimental` examples"
The projects in the `experimental` folder should also be included in our automatic tests.

[2020-05-12 10:53] steebchen commented on #1772
The experimental examples are outdated and have to be refactored from scratch. The projects are not synced with the non-experimental projects and a lot of projects are currently broken. That has to be fixed first, then I'm happy to help setting up the tests, although once refactored it's probably straightforward to clone the existing tests and use them for the experimental projects.

[2020-05-13 08:48] Benjaminryejones commented on #1734
In case you all haven't already fixed this, you can resolve the issue by renaming context.js to context.ts (you may need to support typescript imports in your main app)

[2020-05-14 19:17] HendrikJan commented on #1734
@Benjaminryejones
Thank you for the reply.

When I run `npm run build` the code runs without an error.
This is in line with your comment, because there is a file named "context.ts" in the /src folder.
This then generates a "context.js" file in the /dist folder.

When I then fun `npm run start` (which runs `node dist/server`), that is when the error appears.
It does not feel right to rename this fi

[2020-05-15 10:55] peterrogov opened #1778 "Compilation errors with typescript 3.9.2"
Hi there. I am having issues while trying to compile examples from this repo (tried on graphql-apollo-server and graphql-auth).
[code]

The problem seems to be caused by some errors in type definitions and related to typescript 3.9.2 somehow. I could resolve the problem by simply downgrading typescript to 3.8.3 without any other changes in packages or code.

The same problem was also [reported her

[2020-05-19 16:25] por commented on #1395
It looks like the project is gone @Aperrix?

[2020-05-19 16:30] Aperrix commented on #1395
Excuse me, I did some cleaning on my github, I thought that my proposal would be refused but if it interests you I will publish them again, stay around I don't have long 😃

[2020-05-19 19:38] por commented on #1395
I was just doing some investigation, I don’t think I’ll go for this approach for my project. But I think you can safely close this issue then.

[2020-05-19 19:42] Aperrix commented on #1395
It's a shame, I developed a private API with fastify and prisma2 and it's a real pleasure

[2020-05-19 20:04] por commented on #1395
Hmm. I am sold on Fastify at the moment, but was a bit put off by hearing that Prisma2 has a bit too much magic going on (like most other ORMs), and the fact that migrations have an experimental flag, which seems to be quite an essential thing to have for me. I wonder how it scales past a certain point.

[2020-05-22 21:34] Akxe opened #1784 "Bump GraphQL version to ^15.x.x"
If it is possible...

[2020-05-23 17:02] ManAnRuck commented on #1437
only news on this? now there is no docker file anymore :o

[2020-05-24 09:57] Erzsebet113 opened #1785 "Cannot clone graphql-apollo-server example"
Cannot clone via git clone command due to:

git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

Is your github still ok?

[2020-05-25 12:08] janpio commented on #1784
Unfortunately some tests fail, which is why the automated PR to upgrade this did not just get merged: https://github.com/prisma/prisma-examples/pull/1697

[2020-05-25 12:09] janpio commented on #1785
What command did you execute?

[2020-05-25 12:20] Akxe commented on #1784
It actually did not find some package... `Error: Cannot find module 'graphql-middleware'` it will require some more effort I guess

[2020-05-26 13:42] TomasMoskala opened #1788 "prisma.schema which folder?"
npx prisma generate gives message
✔ Generated Prisma Client to .\node_modules\@prisma\client in 76ms

but the file is in
\prisma-examples-master\typescript\grpc\node_modules\.prisma\client

What is the purpose of 2 folders @prisma and .prisma?

[2020-05-26 17:21] janpio commented on #1788
`@prisma/client` is where the npm package is installed to.
`.prisma/client` is where the generated client is placed by default (unless you define another location with `output` in the `generator` block in your schema.

[2020-05-26 23:21] TomasMoskala commented on #1788
I also noticed this missing part of message
https://github.com/prisma/prisma/issues/2550
I think I ran
npx prisma generate
before
npm install @prisma/client

[2020-05-27 12:55] TomasMoskala opened #1789 "proto file types in grpc example"
https://github.com/prisma/prisma-examples/blob/master/typescript/grpc/service.proto

This is not working for me

[code]

Error message

[code]

Argument id: Got invalid value '1' on prisma.findOnePost. Provided String, expected Int.

Changed to

[code]

And

[code]

in client/post.ts (line 20)

[2020-05-27 14:32] janpio commented on #1788
I can confirm the message still says `@prisma/client`:

[code]
import { PrismaClient } from '@prisma/client'
// or const { PrismaClient } = require('@prisma/client')

const prisma = new PrismaClient()
[code]

[2020-05-27 14:43] janpio commented on #1788
After talking to @timsuchanek I can confirm that this is indeed a leftover and can now be changed to mention the correct path. As the Client is not imported from that path into your JS/TS though by default, we want to add `(to be imported via '@prisma/client') at the end of the string to make that clear in the CLI output 👍

Thanks for the report @TomasMoskala, we will fix this soon.

[2020-05-27 16:51] TomasMoskala opened #1793 "index.d.ts does not reload in VS Code"
Hi,
if I change field name in server.ts it is not recognized until I manually open index.d.ts.

I changed id in

[code]

did `npx prisma generate` and updated proto file and underlying db field.
Still have to manually open `index.d.ts`.
When updating db this is annoying, you don't know where is the bug...

[2020-05-30 14:19] Erzsebet113 commented on #1785
git clone git@github.com:prisma/prisma-examples.git --depth=1

This one, according to readme file

[2020-06-01 17:54] TomasMoskala opened #1799 "Any plans to implement grpc-web?"
The grpc example is fine but I suppose most of devs would need it in browser.

[2020-06-04 09:27] nikolasburk opened #1805 "GraphQL Playground doesn't work in Next.js + Nexus example"
It should be accessible via http://localhost:3000/api as described in the README but it's currently not.

[2020-06-06 16:52] gustawdaniel commented on #1751
Docs of migration:

https://www.nexusjs.org/#/getting-started/migrate-from-nexus-schema

[2020-06-06 18:54] gustawdaniel commented on #1805
I mentioned about this in

https://github.com/prisma/prisma-examples/issues/1751

[2020-06-08 15:15] ryands17 opened #1814 "A GraphQL file upload example"
According to [this](https://prisma.slack.com/archives/CA491RJH0/p1591582611375700) user request, it would be great to have a simple file upload example with GraphQL
![image](https://user-images.githubusercontent.com/19697099/84047394-d75d7100-a9c8-11ea-9c8e-438c44abb863.png)

[2020-06-10 14:30] darrylyoung opened #1821 "Add Digital Ocean deployment guide"
Hi, everyone. 👋

To go with the Google Cloud, AWS Lambda, and Vercel [guides](https://github.com/prisma/prisma-examples/tree/master/deployment-platforms), I think it'd be great if there was a guide on how to deploy your Prisma project to Digital Ocean. I recall an old Prisma 1 guide on how to deploy to a Droplet so something like that, updated for Prisma 2, would be great. I know many people use D

[2020-06-11 08:28] nikolasburk opened #1822 "Examples for spatial queries"

[2020-06-13 02:05] ngduc commented on #1476
I'm getting this issue when building it.
why was this closed?

[2020-06-13 05:28] steebchen commented on #1476
@ngduc Please open a new issue and describe in which repository this happens exactly. Thanks!

[2020-06-17 08:43] Maetes commented on #1805
@nikolasburk
i managed to enable it by switching from classic REST => GraphQL to the micro build of apollo server as follows:

`npm i apollo-server-micro`

within the /api/index.ts (or your endpoint file at all)
[code]

note: I kept the old implementation for a better comparison

[2020-06-20 11:08] janpio opened #1829 ""About this repository" is outdated"
https://github.com/prisma/prisma-examples#about-this-repository is outdated with the new names of Npm dist tags and branch names used in this repository.

[2020-06-25 15:12] #1829 closed

[2020-07-03 09:06] janpio opened #1840 "Enable tests for `/deployment-platforms`"
Right now the projects in `/deployment-platforms` are not tested as all the other examples are:
https://github.com/prisma/prisma-examples/blob/ba2dc9fb1d88aace839e1208386acea577f23a65/.github/scripts/test-all.sh#L19-L24

We should add tests here and make sure this actually works. We are doing similar things for e2e tests and platforms.

[2020-07-03 09:08] janpio opened #1841 "Projects from `/deployment-platforms` must also be available as normal, local projects that are fully tested"
Currently the projects in `deployment-platforms` are kind of a blind spot as we do not have tests for them that are automatically run. Succeeding tests on PRs to these projects give a false impression then. We will try to fix this via https://github.com/prisma/prisma-examples/issues/1840, but that is a bigger undertaking.

What we can do until then is to at least test the _code_ we suggest to use

[2020-07-03 12:00] TomasMoskala opened #1842 "Cannot establish connection with Apollo server + client in Android"
Hi I am using prisma-nexus with Apollo server but cannot make it work on a mobile device.
https://github.com/TomasMoskala/angular-apollo-app
The server palyground should be live at http://test-4233.rostiapp.cz/
It works fine on PC browser.
Authentication is not implemented yet. The client app should only show a list of users.
Please help!

[2020-07-05 14:08] Nhilesh commented on #1747
Another great tooling https://paljs.com/ works better, I got the prisma client working less then a minute.
Just a suggestion, Nexus documentation for Prisma 2 kinda sucks

[2020-07-05 14:40] Nhilesh opened #1845 "Prisma 2 - @unique directive in schema.prisma does not work as expected - ( mySql + Nexus)"
Hi,

I've recently started using Prisma 2 after a long wait and very much pleased with its release.
It is fair to have some of the things not work as expected and I would like to let the community know that **@unique** directive in schema.prisma does not work as expected (at least with mySql).

I tried with the prisma examples and everything looked promising
Then I started playing around the model

[2020-07-05 14:49] janpio commented on #1845
How did you create your database?
What does your database schema (SQL) look like?

[2020-07-05 15:04] Nhilesh commented on #1845
Oh boy, somehow, my constraints on every table does not appear unless it is primary column, I am using DB forge to create the tables. I guess I will have to update it to latest version. I dropped the table and recreated the constraint, it worked as expected. Thanks for your prompt reply and suggesting the correct thing.

[2020-07-05 15:04] #1845 closed

[2020-07-06 14:09] janpio opened #1846 "Change Github Token to be from Prismo"
Currently automated commits seems to be from @steebchen:

![image](https://user-images.githubusercontent.com/183673/86602489-f983e800-bfa2-11ea-8987-f875ab518033.png)

[2020-07-06 14:12] steebchen commented on #1846
I am pretty sure that this is just GitHub Actions showing wrong information. There's no token from Prismo or anything, it just uses their email address and GitHub matches that to the respective GitHub account.

[2020-07-06 17:30] janpio commented on #1846
Hm, true - the commit is from the bot and GH actions still shows you:

![image](https://user-images.githubusercontent.com/183673/86621772-10d0ce80-bfbf-11ea-84a5-bd6753e9a9c6.png)

https://github.com/prisma/prisma-examples/commit/a5b8e80fa6d85ada3c672d768cfb839e7f0b110b
![image](https://user-images.githubusercontent.com/183673/86621804-1f1eea80-bfbf-11ea-9936-6e649c29db3d.png)

Why the connection

[2020-07-06 18:14] steebchen commented on #1846
I encountered this previously, it seems that sometimes GH shows the last contributor or something instead of the actual contributor, but I don't really remember why or how it happened. So it could be just as well any other contributor, not just me.

[2020-07-07 08:59] #1846 closed

[2020-07-08 06:46] steebchen commented on #1846
I think I know why this happens! It seems GitHub remembers who creates branches:

<img width="1287" alt="image" src="https://user-images.githubusercontent.com/5013932/86886550-560d1180-c121-11ea-86af-0f2b0bf42354.png">

The script can't create branches at this time, but we could change that.

[2020-07-08 16:15] Jolg42 opened #1856 "Add Dockerfile example(s)"
It was removed at some point see https://github.com/prisma/prisma-examples/issues/1437

[2020-07-08 16:16] Jolg42 commented on #1437
Closing as the Dockerfile was removed and opened an issue to add a Dockerfile example :) https://github.com/prisma/prisma-examples/issues/1856

[2020-07-08 16:16] #1437 closed

[2020-07-13 11:00] felinto-dev opened #1865 "How to define the port for GraphQL server?"
https://github.com/prisma/prisma-examples/blob/master/typescript/graphql-auth/src/server.ts

How can I define what port my GraphQL server will use?

[2020-07-14 15:38] jsplate opened #1868 "No code in graphql-typegraphql example"
After cloning the whole prisma-examples via https (clone git does not work for me, same as in #1785)  there is no code in the cloned directory, only a README.md.

So npm install does not work because there is nothing to install.

Is this on purpose to only have a description or should there be a project with the code?

[2020-07-14 15:43] Maetes commented on #1865
`start(options: Options, callback: ((options: Options) => void) = (() => null)): Promise<void>`

Once your GraphQLServer is instantiated, you can call the start method on it. It takes two arguments: options, the options object defined above, and callback, a function that's invoked right before the server is started. As an example, the callback can be used to print information that the server has s

[2020-07-14 15:44] Maetes commented on #1868
Did it once you rose the issue. I'm good to go. Please use the following link to clone and try again:
`https://github.com/prisma/prisma-examples.git`

[2020-07-14 15:46] #1865 closed

[2020-07-14 15:50] Maetes commented on #1842
Sorry cant reach http://test-4233.rostiapp.cz/. I don't know what u mean by "make it work on a mobile device". I guess we need more input even though I'm not an angular / nexus expert

[2020-07-14 17:55] jsplate commented on #1868
@Maetes graphql-typegraphql has still only a README.md and no other files. What content do you have in that directory?

[2020-07-15 07:19] Maetes commented on #1868
@jsplate i'm sorry you are totally right. Didn't recognize that you mean that specific example rather than the dir at all.

Maybe you are good to go with the examples from typegraphql itself? https://github.com/MichalLytek/type-graphql/tree/prisma/examples

[2020-07-15 08:15] jsplate commented on #1868
@Maetes Thank you for giving me that hint. I will have a look at that. Nevertheless the empty example is inconvenient. Took time for users to find out that the README.md is wrong...

[2020-07-15 17:09] nikolasburk commented on #1805
Fixed via https://github.com/prisma/prisma-examples/pull/1872. Also, thanks a lot to @Maetes for the initial PR and the easy approach to expose the Playground with `apollo-server-micro` 🙌

[2020-07-15 17:09] #1805 closed

[2020-07-16 08:43] karlhorky opened #1875 "TypeScript + Next.js: Switch from getInitialProps to getStaticProps (SSG)"
[Next.js 9.3 introduced static-site generation](https://nextjs.org/blog/next-9-3#next-gen-static-site-generation-ssg-support), moving from `getInitialProps` to `getStaticProps` and `getServerSideProps`.

The `typescript/graphql-nextjs` example [uses `getInitialProps`](https://github.com/prisma/prisma-examples/blob/fea790dd311e532a6289c7de53f9dba05f36773b/typescript/graphql-nextjs/apollo/client.js#

[2020-07-21 16:58] jrvidotti opened #1885 "graphql-auth: "npm run dev" works, but "npm run build" don't"
I've tried in my local machine (Windows) and virtual machine (Linux)

What's happening?

[code]

[2020-07-23 11:35] nikolasburk commented on #1885
Thanks a lot for opening this issue @jrvidotti, the errors should have been fixed by this PR: https://github.com/prisma/prisma-examples/pull/1887

Feel free to reopen the issue if you still encounter errors 🙂

[2020-07-23 11:35] #1885 closed

[2020-07-23 12:06] janpio opened #1888 "Recreate graphql example with current Nexus Schema and Nexus Plugin Prisma, and without GraphQL Yoga"
Via https://github.com/prisma/e2e-tests/pull/599 the e2e test that was based on this example was modernized to use a current Nexus Schema, Nexus Plugin Prisma and drop GraphQL Yoga for express-graphql instead.

This example (and the JS equivalent) can probably be adapted to that as well.

[2020-07-23 13:36] nikolasburk commented on #1842
Hey @TomasMoskala, thanks a lot for opening this issue! This problem seems unrelated to using Prisma but rather an issue with connectivity in Apollo Server. I recommend that you open up an issue in the [apollo-server](https://github.com/apollographql/apollo-server) repo instead 🙂

[2020-07-23 13:36] #1842 closed

[2020-07-23 13:45] nikolasburk commented on #1868
Hey folks 🙌  thanks a lot for raising this! This has been on our TODO list for a while and I finally got around merging a PR: https://github.com/prisma/prisma-examples/pull/1889 Feel free to try it out and share your feedback 🙂

[2020-07-23 13:45] #1868 closed

[2020-07-23 13:47] nikolasburk commented on #1822
Can be found in: https://github.com/prisma/prisma-examples/tree/master/typescript/postgis-express

[2020-07-23 13:47] #1822 closed

[2020-07-23 14:54] steebchen opened #1895 "nexus-plugin-prisma upgrade workflow doesn't work with postinstall hook"

[2020-07-23 14:55] steebchen opened #1896 "Unify workflows with e2e-tests"
Currently, examples use different workflows than e2e-tests. We should probably re-use them.

[2020-07-23 14:59] janpio commented on #1895
I would say: It runs the `yarn add` with a version of the dependencies, that fails in combination with Prisma CLient in the hook.
Because of that, the updated code is never copied over (which would bring fixed non prisma dependencies)

[2020-07-23 15:00] janpio commented on #1895
internal thread with links to failing test etc: https://prisma-company.slack.com/archives/CUH6B8FUJ/p1595511451004300

[2020-07-23 19:27] jsplate commented on #1868
@nikolasburk Thank you very much for the work at the example!
The example works very well as expected.

I found one slight problem:
The console output of npm run dev is:

�🚀 Server ready at: http://localhost:40
⭐️

It should be 4000 (where it is found as expected). I don't know why this is output is so strange because in the source code it is correct. It seems because of the "rocket" in the consol

[2020-07-24 06:23] nikolasburk commented on #1717
Het @Sevensidedmarble 👋 thanks a lot for raising this. Using `graphql-import` to import from `schema.prisma` is not possible because Prisma uses a different modeling language than GraphQL.

Let me know if you have any further questions, happy to help 🙂

[2020-07-24 06:23] #1717 closed

[2020-07-24 06:27] nikolasburk commented on #1799
Hey @TomasMoskala, what do you mean with "need it in browser" exactly? You should be able to access the sample gRPC API from a browser if you send the request to the gRPC server from it. Does that help? 🙂

[2020-07-24 06:27] #1799 closed

[2020-07-24 06:30] nikolasburk commented on #1785
Hey @Erzsebet113 👋 were you able to sort this out? Since you're the first user reporting an issue like this, I'd guess this might have to do with your local Git/ssh setup. Alternatively you can try to clone via HTTPS:

[code]

If that still doesn't work, you can download the entire repo as a zipped folder as a workaround 🙂

![image](https://user-images.githubusercontent.com/4058327/88365944-e5542f

[2020-07-24 06:30] #1785 closed

[2020-07-24 06:36] nikolasburk commented on #1793
Hey @TomasMoskala, thanks a lot for raising this! I think this issue is similar to the issues described [here](https://github.com/prisma/prisma/issues/2962) and [here](https://github.com/prisma/prisma/issues/2771). You can follow those issues to see when the problem is resolved.

As a workaround, you can [restart the TypeScript server inside of VS Code](https://github.com/prisma/prisma/issues/2771

[2020-07-24 06:36] #1793 closed

[2020-07-24 06:46] nikolasburk commented on #1789
Thanks a lot for opening this issue @TomasMoskala 🙏 I could reproduce the error and fixed it via this PR: https://github.com/prisma/prisma-examples/pull/1903

[2020-07-24 06:46] #1789 closed

[2020-07-24 07:06] nikolasburk commented on #1788
@janpio Has this been resolved by now? By the way, if this is a Prisma issue rather than an issue with a concrete example, should we transfer the issue to the `prisma` or `prisma-client-js` repo?

[2020-07-24 07:07] nikolasburk commented on #1784
Hey @Akxe 👋 thanks a lot for raising this! As far as I can see, the `graphql` has been updated to `15.x.x` (e.g. [here](https://github.com/prisma/prisma-examples/blob/master/typescript/graphql/package.json#L16)).

[2020-07-24 07:07] #1784 closed

[2020-07-24 07:41] nikolasburk commented on #1438
Closing this issue as the GCP function examples has been removed from the repo for now.

[2020-07-24 07:41] #1438 closed

[2020-07-24 07:44] nikolasburk commented on #1069
Closing this issue in an effort of cleaning up old issues. Feel free to reopen the issue if you still have questions @lasharela 🙌

[2020-07-24 07:44] #1069 closed

[2020-07-24 07:47] nikolasburk commented on #1524
Hey @willy20040711, sorry for the delay on this one! Since the issue rather seems to be related to working with Prisma and Nexus itself rather than a concrete problem with an example, I suggest to open up another issue in the respective repos if the problem still persists for you 🙂

[2020-07-24 07:47] #1524 closed

[2020-07-24 07:50] nikolasburk commented on #1545
This issue was resolved in a recent update of the example. Please feel free to reopen it if you encounter this issue as a regression again 🙂

[2020-07-24 07:50] #1545 closed

[2020-07-24 07:52] nikolasburk commented on #1640
Hey @Rezaavoor, I'm closing this issue since there hasn't been any activity. Were you able to resolve this eventually? Please feel free to reopen the issue with a more precise description of the error so that we can reproduce and fix it 🙂

[2020-07-24 07:52] #1640 closed

[2020-07-24 08:29] janpio commented on #1896
One difference:
- `e2e-tests` has the run.sh and test.sh in the proejct itself, here it lives in a subfolder of `.github`  - should be easy to unify though

[2020-07-24 11:21] janpio commented on #1751
Yes please @gustawdaniel, that would be amazin if you could create a PR for that example.

There are possible other ones still using `nexus-prisma` instead of `nexus-plugin-prisma` as they should (https://github.com/prisma/prisma-examples/search?q=nexus-prisma&unscoped_q=nexus-prisma) - so upgrading those as well should be simple when you tackle the first one.

[2020-07-24 11:22] janpio commented on #1395
Hey @Aperrix, still looking forward to seeing that example again - possibly directly as a PR here.

[2020-07-24 11:25] #105 closed

[2020-07-24 11:26] janpio commented on #1613
Is this still open after the PR has been merged @nikolasburk?

[2020-07-24 11:32] nikolasburk commented on #1613
Yup, seems like this has been removed from all examples in favor of adding `@types/node` 👍

[2020-07-24 11:32] #1613 closed

[2020-07-24 12:07] nikolasburk commented on #1651
@janpio is this still an issue? Not sure how to best reproduce and fix this right now...

[2020-07-24 12:10] janpio commented on #1651
This is on @steebchen, he should be able to reconstruct the problem from the logs pasted above and see if this still can happen in the test scripts.

[2020-07-24 20:04] Aperrix commented on #1395
Hey ! Nice to read you !

I was waiting for version 3 of fastify for ever more incredible performance! Now that it is available, I would be happy to redo the boilerplate

[2020-07-29 21:57] warmSnowyMorning opened #1922 "javascript/apollo-graph-ql docs error"
it says that there is dummy data in "./prisma/dev.db."

however, such is not the case.  pls help

[2020-07-29 22:05] janpio commented on #1922
Which project exactly?

Per your description I would guess this: https://github.com/prisma/prisma-examples/blob/master/javascript/graphql-apollo-server/prisma/dev.db

[2020-07-29 23:28] warmSnowyMorning commented on #1922
ah my bad, i'm a beginner.  the file didn't show any contents on github so i thought maybe it was left empty

[2020-07-29 23:28] #1922 closed

[2020-07-30 08:31] janpio commented on #1922
Ah no, it is a binary file that Github just can not display. You need to use a SQLite database UI to look inside it - or run `prisma studio --experimental` to do the same via Prisma Studio.

[2020-07-31 06:56] imran-ib commented on #1734
Facing the Same Problem.
`Nexus Schema Typegen: Expected module dist\context.js to be an absolute path to a TypeScript module, skipping.
Server started, listening on port 4444 for incoming requests.
Missing required typegen import: Context`

[2020-07-31 07:06] imran-ib commented on #1734
I am Not Sure Weather its good or bad but i fixed by removing Context type and source from schema.ts
**Before**
 `  typegenAutoConfig: {
    contextType: 'Context.Context',
    sources: [
      {
        source: '@prisma/client',
        alias: 'prisma',
      },
      {
        source: require.resolve('./context'),
        alias: 'Context',
      },
    ],
  },`

**after**
` typegenAutoConfig: {

[2020-08-04 07:00] AdamCooman opened #1931 "Schema in the "prisma-examples/experimental/typescript/graphql" example seems to contain an error"
I was trying to run the "prisma-examples/experimental/typescript/graphql" example and the schema is complaining about a reference that is wrong.

The definition for Post in the current schema is as follows:
[code]
Vscode indicates an error here on the author reference.
I managed to fix it by replacing Post with the following:
[code]

[2020-08-04 09:06] janpio commented on #1931
That is indeed a broken schema that should be fixed:
https://github.com/prisma/prisma-examples/blob/f327b2939c05449d19a67da6af812246662c5844/experimental/typescript/graphql/prisma/schema.prisma#L10-L16

[2020-08-05 21:10] janpio opened #1935 "Zeit Now README is probably not needed any more"
https://github.com/prisma/prisma-examples/blob/master/.github/readmes/deployment-platforms/zeit-now/README.md

[2020-08-07 12:04] Jolg42 commented on #1856
Example from nestjs-prisma:

Dockerfile
https://github.com/marcjulian/nestjs-prisma/blob/master/src/nestjs-prisma/templates/docker/Dockerfile

docker-compose.yml
https://github.com/marcjulian/nestjs-prisma/blob/master/src/nestjs-prisma/templates/docker/docker-compose.yml

[2020-08-09 02:41] gregbenner commented on #1395
@Aperrix looking forward to seeing the boilerplate, sounds good!

[2020-08-10 07:29] steebchen commented on #1651
Closing for now, will re-open if I we should see I happening again.

[2020-08-10 07:29] #1651 closed

[2020-08-17 20:54] jnthnk opened #1950 "About Fullstack Example with Next.js"
Maybe this is a stupid question.

**But the REST API example in typescript + prisma + next, would work all inside the same next app?**

Also, this can be deploy all to Vercel free account?

Thanks

[2020-08-18 06:03] kierangilliam commented on #1734
I'm having this same issue using the nexus / prisma / apollo template.

[2020-08-20 12:26] Aperrix commented on #1395
@janpio javascript version is working perfectly but didn't pass your tests <https://github.com/prisma/prisma-examples/pull/1953>

[2020-08-20 15:13] janpio opened #1954 "Update all example schemas to use natural order of fields"
For example:
ID first, then scalar fields and last relation scalar fields.

Right now:
Pretty random.

[2020-08-20 15:18] janpio commented on #1395
Will answer in the PR 👍

[2020-08-24 08:42] #1395 closed

[2020-08-27 06:20] alfieqashwa commented on #1950
Yes, if you're using sqlite, then all you need is just deploy on Vercel. But if you're using posgresql, you can use heroku, or digital ocean for deploy the database (backend) and deploy to Vercel for the frontend. #cmiiw

[2020-08-28 02:40] jnthnk commented on #1950
I was trying prisma API in Vercel and gives error. This error didn't happen in localhost.
Maybe I have to test it more. Thanks.

[2020-08-28 02:40] #1950 closed

[2020-09-07 11:12] pantharshit00 opened #1988 "GitHub Actions workflows used by this repository might get enabled for the users who published a new fork of this in their own account"
See https://github.com/prisma/prisma/issues/3539

If someone publishes this repository in their own account in a new repository, GitHub actions will be enabled for them by default. That will enable the job which updates the dependencies of this repository. This can exhaust the free limit which GitHub has on action for private repos (2000minutes/month)

We will need to figure out how we can prevent

[2020-09-08 09:27] janpio opened #1992 "[Tests] Undo ignoring Nexus Schema projects after changes to Nexus Schema"
Undo https://github.com/prisma/prisma-examples/commit/a84fa03fa9a51f1dca525f36a87c8dbbfa09c02e so all projects are properly tested again.

[2020-09-08 11:27] janpio opened #1993 "Rename `master` branch to `latest`"
Internal discussion: https://prisma-company.slack.com/archives/CFRDLGR8W/p1599558604019800

Code:
- [x] Replace in all scripts
- [x] Replace in READMEs and instructions
- [x] https://github.com/prisma/prisma-examples/search?q=master&unscoped_q=master
- [x] https://github.com/prisma/prisma-examples/search?q=alpha&unscoped_q=alpha

Related repositories:
- [x] https://github.com/prisma/docs/search?q=

[2020-09-08 20:05] janpio commented on #1988
Suggestion from GH staff: https://github.com/prisma/prisma/issues/3539#issuecomment-689104691

[2020-09-09 14:37] 2color commented on #1935
Why is that?

[2020-09-09 14:39] janpio commented on #1935
Because Zeit has been renamed to Vercel, and we also renamed our example. So next to a README the folder is empty: https://github.com/prisma/prisma-examples/tree/master/deployment-platforms/zeit-now (becaues this template still exists and is probably recreated automatically).

[2020-09-10 08:23] #1935 closed

[2020-09-10 12:54] #1988 closed

[2020-09-10 14:59] MikaStark opened #2000 "Migrate from graphql-yoga to apollo-server"
Since GraphQL-Yoga seems to be abandonned, it may be better to migrate examples to [Apollo Server](https://github.com/apollographql/apollo-server)

See [Is this project still alive? #629](https://github.com/prisma-labs/graphql-yoga/issues/629)

[2020-09-12 15:03] janpio opened #2007 "Replace references to specs repo"
For example https://github.com/prisma/prisma-examples/blob/496ab21dc28ae13dc3bcb2494c664a92fa4a2668/.github/readmes/deployment-platforms/_setup-2-swap.md#L10

[2020-09-12 15:04] janpio opened #2008 "Update outdated instructions (or remove them)"
Many READMEs still refer to old documentation and repository names.

For example: https://github.com/prisma/prisma-examples/blob/496ab21dc28ae13dc3bcb2494c664a92fa4a2668/.github/readmes/experimental/_next-steps.md#L8
But also non experimental stuff.

[2020-09-12 16:29] #1993 closed

[2020-09-12 21:44] janpio commented on #1663
Would be fixed via https://github.com/prisma/prisma-examples/issues/1653

[2020-09-21 18:37] ziimakc opened #2030 "graphql-nextjs example model not found"
I followed [graphql-nextjs](https://github.com/prisma/prisma-examples/tree/latest/typescript/graphql-nextjs) and stuck on step 4 "Use the updated Prisma Client in your application code".

[code]

I don't have model type on t. Where did it came from?

[2020-09-21 19:26] #2030 closed, assigned to nobody

[2020-09-29 14:02] divyenduz opened #2044 "Add branch name to the slack failure message"
in #feed-examples-tests-failures channel

[2020-09-30 09:35] divyenduz opened #2048 "Failures are not being reported to slack all the time"
`dev` branch is currently failing (expected nexus error) but there are no reports in slack.

[code]

https://github.com/prisma/prisma-examples/runs/1182310267

Note that it does work sometimes: https://prisma-company.slack.com/archives/CUH6B8FUJ/p1601459380023500

[2020-09-30 09:48] divyenduz opened #2049 "Fix upgrade script re patch-dev"
The `patch-dev` script tried to bump `patch-dev` and `latest` on `patch-dev` branch in two commits.

- Figure out if this was correct, should latest come on `patch-dev`
- Clean the script up if necessary

Internal chat:
https://prisma-company.slack.com/archives/CUH6B8FUJ/p1601400366011700?thread_ts=1601386366.002200&cid=CUH6B8FUJ

[2020-10-01 17:18] divyenduz opened #2054 "Early exit the upgrade script for patch-dev when there is no patch-dev against the current latest"
Context:

![image](https://user-images.githubusercontent.com/746482/94841748-c5da2200-041a-11eb-8819-ceaeb2498d01.png)

Internal Discussion: https://prisma-company.slack.com/archives/CUH6B8FUJ/p1601572060019100

[2020-10-01 17:58] #2054 closed, assigned to nobody

[2020-10-05 05:02] xiote opened #2058 "[javascript/graphql-apollo-server] Error of npm run dev"
[code]

[code]
[code]

[2020-10-05 05:18] xiote commented on #2058
"@prisma/client": "2.7.1" is ok
but  "@prisma/client": "2.8.0" is error

[2020-10-05 09:53] divyenduz commented on #2049
This was already cleaned up via https://github.com/prisma/prisma-examples/issues/2054

[2020-10-05 09:53] #2049 closed, assigned to divyenduz

[2020-10-05 10:35] nikolasburk opened #2063 "`@prisma` deps should only be updated if tests succeed"
Right now, the sync script that updates the `@prisma` dependencies in all example projects always runs upon new releases of Prisma.

We often had the situation (and are experiencing it right now again as of the latest 2.8.0 release), that changes in the DMMF are breaking the `nexus-prisma` package which is used in a number of examples. Whenever this happens, the examples don't work any more and th

[2020-10-05 14:08] #2044 closed, assigned to divyenduz

[2020-10-06 07:14] benrozsa opened #2077 "[typescript/apollo-graphql-server]: Some mutations are removed from schema"
### Example: https://github.com/prisma/prisma-examples/tree/latest/typescript/graphql-apollo-server

#### Steps to reproduce
- npm install
- npm run dev
- Open loclahost:4000/graphql
- Only createDraft and and publish mutations are available

Some other methods were defined in the Mutations section, although not as fields.
[code]

#### It may not be a bug, but how can I access signup?

HEAD:
commi

[2020-10-09 20:16] janpio opened #2094 "Update all examples to use nexus-plugin-prisma instead of nexus-prisma"
Currently all failing because of DMMF changes.

Internal: https://prisma-company.slack.com/archives/C8AKVD5HU/p1602178040098600

[2020-10-11 16:20] jamesguan commented on #1734
This doesn't seem to be the right approach. Prisma should theoretically support both .js and .ts and should be language agnostic. The right approach would be to fix the code to accept both .js and .ts files.

[2020-10-12 12:39] divyenduz commented on #2058
@xiote Thanks for reporting this, we are aware of this issue and this will be fixed via https://github.com/prisma/prisma-examples/issues/2094

[2020-10-12 12:39] #2058 closed, assigned to nobody

[2020-10-12 15:03] #2048 closed, assigned to divyenduz

[2020-10-16 14:00] #2094 closed, assigned to jasonkuhrt

[2020-10-20 18:47] fullStackDataSolutions commented on #1734
@jamesguan The problem is that the Context file should be the ts type definition for the context. This enables auto completion and code checking, which makes life much easier. It's completely worth going through the effort to write the server in TS.

[2020-10-26 00:49] ibash commented on #1734
Make a file:
[code]

And make typegen point to it instead:
[code]

[2020-10-26 12:30] zvictor commented on #17
The link is broken. What has happened to the package?

[2020-10-26 12:54] divyenduz commented on #17
The code has moved here https://github.com/prisma/prisma/tree/master/src/packages

and the names might have changed.

[2020-10-26 14:43] zvictor commented on #17
it looks like it has been killed, no? I think prisma has moved to a different approach and doesn't use anything similar to prisma-generate-schema anymore.

I am [interested on studying its source code](https://github.com/zvictor/faugra/issues/1#issuecomment-716585761).
Do you know where I can find the code of the old prisma-generate-schema, as it was?

[2020-10-26 16:00] divyenduz commented on #17
Aha, now I think I remember what package this refers too. This is from Prisma 1 and that code was moved and can be found here https://github.com/prisma/prisma1/tree/master/cli/packages

It has `prisma-generate-schema` :)

Curious about `faugra`, I will check it out later.

[2020-10-26 18:44] zvictor commented on #17
thank you so much!

`faugra` is brand new and I haven't announced it anywhere yet other than communicating the fauna team.
Any feedback you could give would be extremely appreciated :)

[2020-10-28 16:20] redbaron76 opened #2165 "GraphQLServer schema type is wrong in graphql-typegraphql example"
Trying to follow the `typescript/graphql-typegraphql` example, the schema type produced by the typescript-graphql `buildSchema` is not accepted by the graphql-yoga `schema` prop in the server constructor.

I had to workaround it by setting an assumption `as any` to suppress the error as follows:

[code]

Any idea about how to fix it?
Thanks

[2020-10-28 19:20] janpio opened #2171 "Error: listen EADDRINUSE: address already in use :::4000"
[code]

[2020-10-28 19:21] janpio commented on #2171
Easiest thing to unblock will probably be to just use a different port in the project (and the ones following later) until things work again - and open a PR again with a revert commit to keep a reproduction that we then can investigate and fix later.

[2020-10-29 02:17] dy-100000 opened #2177 ""TypeError: xs.reduce is not a function" when execute "npm run dev", error at "ts-node --transpile-only src/schema""
Hello,

I followed the installation guide to run the demo, but an error  "TypeError: xs.reduce is not a function" occured when execute "npm run dev" of "typescript/graphql-apollo-server/".

The error is located at CLI "ts-node --transpile-only src/schema"

It seems the error is at NEXUS level, because I had the same issue in other project.

[2020-10-29 10:43] #2171 closed, assigned to divyenduz

[2020-10-29 10:43] #1653 closed

[2020-10-29 10:43] #1663 closed

[2020-10-29 10:43] #1659 closed

[2020-10-29 10:45] divyenduz opened #2181 "Make workflow names better"
Test matrix was implemented in https://github.com/prisma/prisma-examples/pull/2180

However, job names are "path-like" and not easily readable. This issue tracks fixing them.

![image](https://user-images.githubusercontent.com/746482/97558327-41a89980-19dc-11eb-8675-d3a0e4286bf3.png)

[2020-10-29 10:57] divyenduz commented on #2177
Hey, thanks for raising this, yes, it is fixed in `nexus-plugin-prisma` 0.23.0. Closing this issue, please feel free to open a new issue if the problem persists.

P.S. we fixed example via https://github.com/prisma/prisma-examples/pull/2182 (notice that a `semver` dep needs to be added in `0.23.0`, this may be fixed with a hotfix)

[2020-10-29 10:57] #2177 closed, assigned to nobody

[2020-10-29 13:42] FredericEspiau opened #2183 "rest-nextjs doesn't exist anymore"
This repo doesn't exist anymore: https://github.com/prisma/prisma-examples/tree/latest/typescript/rest-nextjs

It is referenced in several documents: https://github.com/search?q=org%3Aprisma+rest-nextjs&type=code

[2020-10-29 14:55] divyenduz commented on #2063
Reverted this via https://github.com/prisma/prisma-examples/commit/d8bfae33c8f88f971c67126b8c561530b42b32af

This approach brings back a lot of issues like https://github.com/prisma/prisma-examples/issues/2171
I will think of a better way to solve this.

[2020-10-30 09:16] divyenduz opened #2184 "Feed slack message format is sometimes broken"
![image](https://user-images.githubusercontent.com/746482/97684235-0029f400-1a99-11eb-99b2-dc6bf629846e.png)

Example link: https://prisma-company.slack.com/archives/CUH6B8FUJ/p1603907960013600

[2020-10-30 09:59] divyenduz commented on #2063
Synced with @nikolasburk on this, we only want this for the "latest" branch. Proposed solution:

- Disable `latest` bumping and merging in our update script
- Rely on `renovate` to create a PR for Prisma packages on `major`, do not merge them automatically

It is possible `renovate` is slow for our requirements, so later, we can build this tooling to create PRs in our script if needed.

[2020-10-30 10:08] nikolasburk commented on #2063
Sounds good to me!

Also, to make the tradeoff here explicit: It's much more important for the examples to be working/functional rather than all dependencies always and immediately being up to date.

So we should favour solutions where we can ensure that updated dependencies don't break anything over solutions that update dependencies quickly/automatically but might break things.

[2020-10-30 10:11] nikolasburk commented on #2183
Hey @FredericEspiau, thanks a lot for catching this! The example has indeed been renamed and now lives here: https://github.com/prisma/prisma-examples/tree/latest/typescript/rest-nextjs-api-routes

It would be awesome if you could maybe spend a few minutes yourself and create a PR to help us fix this. If not no problem and we'll try to fix it ourselves as soon as possible. (Also note that only the

[2020-10-30 11:13] FredericEspiau commented on #2183
@nikolasburk this is done:
https://github.com/prisma/docs/pull/966
https://github.com/prisma/prisma-examples/pull/2186

[2020-10-30 11:26] #2183 closed, assigned to nobody

[2020-10-30 12:30] divyenduz opened #2187 "Slack messages on each example test and the full workflow failure/start/success"
This should already happen in some capacity via https://github.com/prisma/prisma-examples/pull/2180 https://github.com/prisma/prisma-examples/pull/2111 and https://github.com/prisma/prisma-examples/pull/2100

This issue tracks writing down the slack notification behaviour we actually want and implementing it.

[2020-10-30 13:29] #2063 closed, assigned to divyenduz

[2020-10-30 18:09] croaky opened #2192 "Broken link from prisma.io homepage to this repo"
The "Next.js Fullstack" link on the Prisma homepage links to https://github.com/prisma/prisma-examples/tree/latest/typescript/rest-nextjs which is currently a 404:

<img width="326" alt="Screen Shot 2020-10-30 at 11 08 02 AM" src="https://user-images.githubusercontent.com/198/97741581-30c15c00-1aa0-11eb-91b7-5163fe7af9e4.png">

[2020-11-02 16:30] GolfredoPerezFernandez opened #2195 "issue when try to deploy graphql-auth to vercel"
hello i want to deploy the graphql-auth example to vercel but i get this error..
Error! No Output Directory named "public" found after the Build completed. You can configure the Output Directory in your Project Settings.

what should be the correct vercel.json configuration?

[2020-11-02 18:31] GolfredoPerezFernandez commented on #2195
i fixed with vercel.json:
{
}{
  "version": 2,
  "env": {
    "DATABASE_URL": "@database_url"
  },
  "build": {
    "env": {
      "DATABASE_URL": "@database_url"
    }
  },
  "routes": [
    {
      "src": "/api/users",
      "methods": ["GET"],
      "dest": "/api/getUsers.js"
    },
    {
      "src": "/api/posts",
      "methods": ["GET"],
      "dest": "/api/getPosts.js"
    },
    {
      "s

[2020-11-02 23:31] GolfredoPerezFernandez commented on #2195
i use this vercel.json: {
  "name": "delivery",
  "version": 2,
  "env": {
    "DATABASE_URL": "@database_url"
  },
  "build": {
    "env": {
      "DATABASE_URL": "@database_url"
    }
  },
  "builds": [
    {
      "src": "dist/server.js",
      "use": "@vercel/node"
    }
  ],
  "routes": [
    {
      "src": "/",
      "dest": "dist/server.js"
    }
  ]
}

i try with sqlite database and postgr

[2020-11-08 17:04] kleydon opened #2204 "Clarifying array support?"
The documentation's [database features matrix](https://www.prisma.io/docs/reference/database-reference/database-features#misc), suggests that arrays are _not_ supported in SQLite, however the [graphql-auth example](https://github.com/prisma/prisma-examples/tree/latest/typescript/graphql-auth)'s [schema.prisma file](https://github.com/prisma/prisma-examples/blob/latest/typescript/graphql-auth/prism

[2020-11-10 11:13] divyenduz opened #2210 "Branch name missing or incorrect in the internal slack message sometimes"
Example https://prisma-company.slack.com/archives/CUH6B8FUJ/p1605005635003000

![image](https://user-images.githubusercontent.com/746482/98666954-0c8e3680-234e-11eb-8587-d792501b9de8.png)

Internal discussion: https://prisma-company.slack.com/archives/CUH6B8FUJ/p1607356141032300

[2020-11-11 15:34] janpio commented on #2181
From conversation: Goal is to have `test(typescript/test-nextjs)` in this list

[2020-11-15 16:31] #2195 closed, assigned to nobody

[2020-11-16 13:45] chrisbull commented on #1734
Instead of creating a new file, you can just point to the correct folder using:
[code]

[2020-11-16 14:00] nikolasburk commented on #2204
Hey @kleydon, thanks for opening this issue!

This is correct, SQLite does not support arrays. However, the example you're mentioning doesn't use an array _in SQLite_ but it creates an abstraction for a 1-n relation in the Prisma schema – so the array doesn't exist in the DB but only on the Prisma-level.

I recommend reading the [relations](https://www.prisma.io/docs/concepts/components/prisma-sch

[2020-11-16 14:00] #2204 closed, assigned to nobody

[2020-11-16 14:18] nikolasburk commented on #2165
Hey @redbaron76, thanks a lot for opening this issue! The problem came from a type inconsistency between TypeGraphQL and graphql-yoga. grapql-yoga still was expecting an "old" version of the `GraphQLSchema` type, so that's why it failed. I just fixed this by swapping graphql-yoga against apollo-server: https://github.com/prisma/prisma-examples/pull/2228

[2020-11-16 14:18] #2165 closed, assigned to nobody

[2020-11-16 17:20] npetronikolos opened #2232 "typescript/graphql-apollo-server: npm install fails"
when i install dep i receive the foll

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: typescript-graphql@undefined
npm ERR! Found: @nexus/schema@0.18.0
npm ERR! node_modules/@nexus/schema
npm ERR!   @nexus/schema@"0.18.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer @nexus/schema@"^0.15.0 || ^0.16

[2020-11-16 18:36] janpio commented on #2232
In which project are you trying to run `npm install` (I assume)?

[2020-11-17 11:03] #2181 closed, assigned to divyenduz

[2020-11-18 08:29] npetronikolos commented on #2232
https://github.com/prisma/prisma-examples/tree/latest/typescript/graphql-apollo-server

[2020-11-19 15:47] tylim88 commented on #1738
facing same issue here, any solution?

[2020-11-19 16:32] tylim88 commented on #1738
i use yarn instead of npm, able to get rid of the error

face unable to connect database error instead, i think this has to do with the public address, but this is another story(https://github.com/prisma/prisma/issues/525#issuecomment-730514332)

[2020-11-23 14:43] nikolasburk opened #2261 "Remove `nexus-plugin-prisma` from `graphql-auth` examples"
Right now there are compatibility issues of graphql-middleware and the nexus-plugin-prisma. Since graphql-middleware is currently not maintained, we can resolve this by removing the nexus-plugin-prisma dep from these examples.

[2020-11-25 17:43] janpio commented on #1888
This will probably be covered via https://github.com/prisma/prisma-examples/issues/2000

[2020-11-25 17:43] janpio commented on #2261
Note internal discussion at https://prisma-company.slack.com/archives/C8AKVD5HU/p1606326022019600?thread_ts=1605093353.018800&cid=C8AKVD5HU

[2020-11-27 06:21] ruheni commented on #2232
Could you try deleting the `node_modules` folder, upgrading to the latest versions of the dependencies and running `npm install` again

[2020-11-27 07:31] ruheni commented on #2077
Hey @robence!
Could you kindly share more information such the versions of the packages you're running  and screenshots of the error you're running into 🙃

[2020-11-27 07:35] ruheni commented on #2261
Hey @janpio 👋🏾
Kindly check out https://github.com/prisma/prisma-examples/tree/migrate-apollo/typescript/graphql-auth and let me know if you run into any issues/errors. 🙃

[2020-11-27 08:01] ruheni commented on #1931
I've update the Prisma schema. Kindly let me know if you experience any issues.
However, kindly note that the examples in `experimental` are currently not being maintained.
If you'd like up to date examples, kindly check out the `typescript` and `javascript` examples 🙂

[2020-11-27 11:08] #2000 closed

[2020-11-27 11:25] janpio commented on #2261
That has worked, no no need to remove `nexus-plugin-prisma` 👍
Thanks @ruheni

[2020-11-27 11:25] #2261 closed, assigned to ruheni

[2020-11-27 15:17] #1888 closed

[2020-11-27 18:11] benrozsa commented on #2077
Hi @ruheni!
After doing a clean install, it seems to work now:

git clone git@github.com:prisma/prisma-examples.git --depth=1
cd prisma-examples/typescript/graphql-apollo-server
npm install
npm run dev

After running npm run dev:
![image](https://user-images.githubusercontent.com/20738129/100475500-8ca0f400-30e3-11eb-89e3-a0a29181e9c9.png)

Current dependencies:
    "@nexus/schema": "0.19.1",

[2020-11-27 18:28] #2077 closed, assigned to ruheni

[2020-11-27 21:16] npetronikolos commented on #2232
Thank you I have done that already. There was an update in the rep  that I did a day ago.

From: ruheni alex <notifications@github.com>
Sent: Friday, November 27, 2020 07:22
To: prisma/prisma-examples <prisma-examples@noreply.github.com>
Cc: Petronikolos Nikolaos <petron12@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [prisma/prisma-examples] typescript/graphql-apollo-server: npm i

[2020-11-28 02:42] ruheni commented on #2232
Are you still experiencing the error?

[2020-11-28 15:47] npetronikolos commented on #2232
No

From: ruheni alex <notifications@github.com>
Sent: Saturday, November 28, 2020 03:42
To: prisma/prisma-examples <prisma-examples@noreply.github.com>
Cc: Petronikolos Nikolaos <petron12@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [prisma/prisma-examples] typescript/graphql-apollo-server: npm install fails (#2232)

Are you still getting the error?

—
You are receiving this beca

[2020-11-28 16:05] #2232 closed, assigned to ruheni

[2020-11-30 10:29] #1931 closed

[2020-12-01 10:40] mattinannt opened #2295 "Authorization Header not working"
Hi,
I'm trying to get the typescript/graphql-auth example running, but getting stuck on authorising a request using the Authorization-Header. I get the graqphQL response `"Not Authorised!"` and my code seems to fail in function `getUserId` (utils.ts) at command ```const Authorization = context.request.get('Authorization')``` with the error `Cannot read property 'get' of undefined`.
In the `experim

[2020-12-02 02:07] SturdyCat opened #2300 "Expect to add vercel/pkg build example"

[2020-12-02 06:14] nikolasburk commented on #2300
Hey @SturdyCat, thanks a lot for opening this issue! Can you provide a bit more information what this issue is about exactly? Right now it's not really possible to infer that just from your title.

[2020-12-02 06:15] nikolasburk opened #2303 "Next.js examples should use only a single `PrismaClient` instance"
Right now all Next.js examples instantiate `PrismaClient` multiple times. Instead, it should be instantiated only once and imported across the app like [here](https://github.com/prisma/blogr-nextjs-prisma/blob/final/lib/prisma.ts).

[2020-12-02 07:04] ruheni commented on #2295
Hi @mnannt 👋🏾
I'm sorry you're experiencing the issue 😢. We're working on the example and we'll keep you updated 😉

[2020-12-03 06:11] SturdyCat commented on #2300
[code]

[code]

[2020-12-03 06:49] nikolasburk commented on #2300
Thanks a lot for sharing this! It seems that you're trying to use `pkg` with the `javascript/graphql-apollo-server/` example, is that correct?

I think this would be an interesting deployment use case, but as specified [here](https://github.com/prisma/prisma-examples/blob/latest/CONTRIBUTING.md#example-guidelines) the purpose of the examples is to provide _minimal_ and functional rather than produ

[2020-12-04 01:09] #2300 closed, assigned to nobody

[2020-12-04 08:00] #2303 closed, assigned to ruheni

[2020-12-07 11:28] nikolasburk opened #2317 "Adjust examples for Nexus' new nonNull notation"
![image](https://user-images.githubusercontent.com/4058327/101345644-a7aff880-3887-11eb-8b77-0253694e8470.png)

[2020-12-07 12:32] #2295 closed, assigned to ruheni

[2020-12-07 16:28] thebiglabasky commented on #2317
False positive, the problem was with me 🤦

[2020-12-10 18:15] divyenduz commented on #1896
Replaced with an internal issue that tackles both internal and external CI systems https://github.com/prisma/centeralize-ci/issues/1

[2020-12-10 18:15] #1896 closed

[2020-12-11 13:06] divyenduz commented on #2210
Incorrect branch name fixed via https://github.com/prisma/prisma-examples/commit/fd2735a5dada8f23aad3e3634d949749b8d90394

More logs for debugging of empty branch name via https://github.com/prisma/prisma-examples/commit/1bbddd19950ab08a46c6d2dafadd00993d490b0f https://github.com/prisma/prisma-examples/commit/2b7595673fe5a8f2f9955b16fc2be93f9f019177

[2020-12-15 11:01] divyenduz commented on #2210
Empty branch name fixed in https://github.com/prisma/prisma-examples/commit/9cc09428f01767677cabedaf513725c1377d835d

[2020-12-15 11:01] #2210 closed, assigned to divyenduz

[2020-12-21 09:52] divyenduz commented on #2063
The current behaviour is different then specified by https://github.com/prisma/prisma-examples/issues/2063#issuecomment-719458188

We configured renovate to merge automatically when tests are green.

Internal discussion: https://prisma-company.slack.com/archives/CFRDLGR8W/p1608290949007900

[2020-12-21 20:44] ahmedosama74574 opened #2370 "What is the difference between these two examples ?"
https://github.com/prisma/prisma-examples/tree/latest/typescript/graphql

https://github.com/prisma/prisma-examples/tree/latest/typescript/graphql-apollo-server

They seem exactly the same. Is there any difference ?

[2020-12-27 17:38] zebapy commented on #1621
Is this essential to using prisma in serverless? I am getting way too many connect limit issues when trying to deploy nextjs + api endpoints + prisma

[2020-12-27 21:04] gustavoggsb opened #2378 "Unit tests in some examples"
I'm trying to write some unit tests to my NestJS application using Prisma, which is proving to be a real challenge. It would be good if we could have unit tests in the examples, so everyone would know how to do it properly.

[2020-12-31 01:30] jdevng opened #2387 "Green question on schema entry"
Why is the database used as the schema entry in the examples - I would assume as a new user that using prisma migrate might be easier, and then generating the client from there. What am I missing?

[2021-01-04 08:57] nikolasburk commented on #2370
Hey @ahmedosama74574, thanks for pointing this out! To briefly answer your question: There's indeed no difference between these two examples any more (the `graphql` example used to use `graphql-yoga` instead of `apollo-server` but since we migrate it to `apollo-server` recently the examples are now practically the same). I'll leave this issue open until one of the two is removed 👍

[2021-01-04 09:12] nikolasburk opened #2392 "Examples should use multi-line strings with backticks instead of `\n` in console.log output"
Fro almost all examples, we print a greeting message to instruct the user what to do when the server is running. Right now we're using `\n` to achieve line breaks but I think it would be nicer to just use a multi-line string instead.

[2021-01-05 09:15] nikolasburk commented on #2387
Hey @jdevng, thanks a lot for raising this! The main reason why we have not been using Prisma Migrate in the examples was because it has been in an experimental state until ~1 month ago. We didn't want people to get started with an experimental tool when they learn about Prisma.

However, since [Prisma Migrate is now in Preview](https://www.prisma.io/blog/prisma-migrate-preview-b5eno5g08d0b) and t

[2021-01-05 09:20] nikolasburk commented on #2378
Hey @gustavoggsb, thanks a lot for this issue! It's a great idea to show people how to unit test their code when they use Prisma, so we definitely want to add that to our examples!

That being said, it would be super helpful if you could mention a couple of questions or issues you had when trying to get started with unit tests. What exactly was unclear to you? What issues did you run into when try

[2021-01-06 23:57] jdevng commented on #2387
good info. One of the reasons I'm asking is that i actually don't see the prisma db making it to the resolver functions, so i started questioning everything. Feel free to close out. I can't tell you guys how much these examples help out in the basic understanding.

[2021-01-07 01:01] jdevng opened #2402 "prisma client missing in resolver"
I'm attempting to write the prisma database from the resolver, but it doesn't seem to pass through the context function. Is it possible that the PrismaClient isn't binded? Is there prisma support packages like auth0?

[code]

[2021-01-09 17:17] felipecrs commented on #2378
Hello @Nikolasburk, thanks for your attention. I'm building a NestJs application, and I was using TypeORM and decided to migrate to Prisma. However, I really don't know how to properly mock the database calls to prevent accessing the database. With TypeORM, this is what I do to mock the repository (therefore the database):

https://github.com/buglandia/api/blob/89ccb38e6b9ff0bcb9bf9f7f29cc57fa427a

[2021-01-09 17:20] gustavoggsb commented on #2378
Hello @Nikolasburk, thanks for your attention. I'm building a NestJs application, and I was using TypeORM and decided to migrate to Prisma. However, I really don't know how to properly mock the database calls to prevent accessing the database. With TypeORM, this is what I do to mock the repository (therefore the database):

https://github.com/buglandia/api/blob/89ccb38e6b9ff0bcb9bf9f7f29cc57fa427a

[2021-01-11 10:18] nikolasburk commented on #2378
Thanks for the additional details, we'll take these into consideration when we're adding an example.

Also, not sure if it helps but @eddeee888 just published an [article on testing with Prisma](https://dev.to/eddeee888/how-to-write-tests-for-prisma-with-docker-and-jest-593i), maybe that's helpful for you as well.

[2021-01-13 19:32] reymon359 opened #2417 "README.md wrong in the Fullstack Example with Next.js (GraphQL API)"
Hi there! 👋🏽

I have been following the `README.md` at the [Fullstack Example with Next.js (GraphQL API) example](https://github.com/prisma/prisma-examples/blob/latest/typescript/graphql-nextjs/README.md) and I am having certain issues when adding the `Profile`

The first one is when, after adding it to the `schema.prisma`, I run the `npx prisma migrate dev` command. It gives me this error

![Scre

[2021-01-14 08:10] nikolasburk commented on #2417
Hey @reymon359 👋  thank you so much for opening this issue and all the info you provided, that's incredibly helpful! Also, apologies for the frustration and that things didn't work at first try for you!

I've just updated the READMEs to fix the `user` reference in the Prisma schema and added the `--preview-feature` flag for the Migrate command: https://github.com/prisma/prisma-examples/pull/2420

[2021-01-14 08:28] nikolasburk commented on #2417
I'll leave this issue open until we've fixed the issue with the Nexus code as well 🙂

[2021-01-14 21:05] reymon359 commented on #2417
Hi there @nikolasburk, about this

Awesome, I just saw it on [the PR](https://github.com/prisma/prisma-examples/pull/2416) 👌🏽  so thank you again!

Also thank you for providing a solution to the issue I mentioned this fast 😊

Please tell me if you need any help updating the `README.md` or with other issues you think I can lend you a hand on 😉

[2021-01-15 07:06] nikolasburk commented on #2402
Hey @jdevng, can you elaborate which example you're referring to? I don't see any examples that are using a `gateway` object with Apollo Server?

However, generally your code to attach the `PrismaClient` instance to the resolver seems fine to me. Can you maybe share a reproduction of your problem?

[2021-01-15 15:37] jdevng commented on #2402
We just figured it out - in a remote service, the context isn't inherited from the gateway. Not really a prisma issue.

[2021-01-15 15:38] nikolasburk commented on #2402
Great to hear 🙌  I'll close the issue then, let me know if you want to reopen it (or when you run into other issues in the future 🙂 ).

[2021-01-15 15:38] #2402 closed, assigned to nobody

[2021-01-21 13:10] renovate[bot] opened #2441 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:29] #2441 closed, assigned to nobody

[2021-01-31 11:43] sahildeliwala opened #2464 "N+1 problem for nestjs-graphql example"
Facing n+1 problem with [typescript/nestjs-graphql](https://github.com/prisma/prisma-examples/tree/latest/typescript/graphql-nestjs) example

Node Version: v14.15.3
NPM Version: 6.14.9

[code]

![image](https://user-images.githubusercontent.com/10909011/106382724-79fab200-63e7-11eb-82fd-258866632837.png)

[2021-02-04 05:22] huang12zheng opened #2478 "example grpc run npm install get error"
* source:
/Users/huangzheng/frontend/prisma-examples/typescript/grpc
https://github.com/prisma/prisma-examples/blob/8fb13bda68fce347c6ad4941da2740d60546ea49/typescript/grpc/

* error log
[code]

# fix it:
npm install @google-cloud/vision

[2021-02-04 05:23] huang12zheng commented on #2478
/Users/huangzheng/.npm/_logs/2021-02-04T05_17_22_493Z-debug.log
[code]

[2021-02-04 05:25] huang12zheng commented on #2478
* success log
[code]

[2021-02-04 05:37] huang12zheng opened #2479 "example grpc run `npm run dev` get error"
* error log:

[code]

* terminal:
[code]

# fix it:
~run `sudo prisma generate`~
add `"postinstall": "prisma generate"` to package.json

[2021-02-04 05:42] huang12zheng opened #2480 "example grpc run `npm run dev` get error"
* terminal log
[code]

/Users/huangzheng/.npm/_logs/2021-02-04T05_37_33_798Z-debug.log
[code]

[2021-02-04 08:16] huang12zheng commented on #2480
https://zhuanlan.zhihu.com/p/163705754
2021 GRPC no longer maintained

[2021-02-04 10:12] huang12zheng commented on #2480
[code]

[code]

[2021-02-04 10:42] huang12zheng commented on #2478
`
npm install @google-cloud/vision
`
is no need, if I use @grpc/grpcjs

[2021-02-10 04:03] huang12zheng commented on #2480
https://github.com/grpc/grpc-node/issues/1673

Can I make a PR to migrate?
@nikolasburk or someone to reply me.

[2021-02-11 10:05] nikolasburk opened #2520 "Remove `nexus-plugin-prisma` from examples & other improvements"
We're polishing and reworking our examples, starting with the ones that are using `nexus-plugin-prisma`. This issue tracks the following changes per example:

- remove nexus-plugin-prisma
- slightly adjust Prisma data model
- slightly rework the GraphQL API to show off more Prisma features
- improve and polish the README

Here's the PR with the prototype for all these changes in the `typescript/gr

[2021-02-12 10:37] huang12zheng commented on #2480
close with no reply

[2021-02-12 10:37] #2480 closed, assigned to nobody

[2021-02-12 10:37] huang12zheng commented on #2479
close with no reply

[2021-02-12 10:37] #2479 closed, assigned to nobody

[2021-02-12 10:37] huang12zheng commented on #2478
close with no reply

[2021-02-12 10:37] #2478 closed, assigned to nobody